.objectList {
  .gameObjectItem {
    position: relative;
    display: flex;
    margin-bottom: 12px;
    padding: 6px 12px;
    height: 50px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }

  .gameObjectItem-current {
    border: 2px solid white;
    cursor: default;
  }

  .gameObjectItem_icon {
    display: flex;
    background-color: green;
    width: 50px;
    height: 100%;
    margin-right: 12px;
    font-size: 10px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .gameObjectItem_id {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 15px;
    align-items: center;
  }
}
