.APKInfo {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  .APKInfo_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 1080px;
    color: white;
  }

  .apkinfo-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .apkinfo_appName {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .apkinfo_appIcon,
  .apkinfo_packageName {
    display: flex;
    margin-bottom: 30px;
    position: relative;
  }

  .apkinfo_pn_rightWrap {
    width: calc(100% - 200px);
  }

  .apkinfo_pn_rw_topWrap {
    display: flex;
    align-items: center;
  }

  .apkinfo_packageName-text {
    font-size: 15px;
    color: #afafaf;
    margin-right: 12px;
  }

  .apkinfo_pn_rw-description {
    white-space: pre;
    color: #afafaf;
    font-size: 12px;
    margin-top: 12px;

    span {
      color: #ff5353;
    }
  }

  .apkinfo_appName-title,
  .apkinfo_packageName-title,
  .apkinfo_appIcon-title {
    width: 120px;
    font-size: 18px;
    height: 100%;
    line-height: 1;
    letter-spacing: 0.14px;
  }

  .apkinfo_packageName-title {
    margin-top: 5px;
  }

  .apkinfo_appName-input,
  .apkinfo_packageName-input {
    color: white;
    border-radius: 5px;
    border: solid 1px #393e4f;
    background-color: #202531;
    outline: none;
    padding: 0 10px;

    width: 345px;
    height: 35px;
  }

  .apkinfo_packageName-input__unactive {
    background-color: #393e4f;
  }

  .apkinfo_packageName-checkBtn,
  .apkinfo_appIcon-addBtn {
    display: flex;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
    height: fit-content;
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #393e4f;
    img {
      margin-right: 5px;
    }
  }
  .apkinfo_appIcon-addBtn {
    margin-top: 63px;
  }
  .apkinfo_appIcon-icon {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #afafaf;
    border-radius: 5px;
    img {
      width: 100%;
      height: 100%;
    }

    .apkinfo_appIcon-icon-empty {
      width: 30px;
      height: 30px;
    }
  }

  .apkinfo_footer {
    display: flex;
    justify-content: flex-end;
  }

  .apkinfo_footer-nextBtn {
    cursor: pointer;
    transition: all 0.2s;
    padding: 6px 25px;
    border-radius: 20px;
    background-color: #141821;

    color: #afafaf;
    font-size: 18px;
    font-weight: 500;
  }

  .apkinfo_packageName-checkBtn:hover,
  .apkinfo_appIcon-addBtn:hover,
  .apkinfo_footer-nextBtn:hover {
    opacity: 0.5;
    transform: scale(1.05);
  }

  .apkinfo-warning {
    border: 1px solid red;
  }
  .apkinfo_appIcon-addBtn-description {
    position: absolute;
    bottom: -30px;
    left: 120px;
    font-size: 12px;
    color: #ff5353;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1079px) {
  // .APKInfo {
  //   .APKInfo_inner {
  //     width: 100%;
  //     overflow: scroll;
  //   }
  // }
  .APKInfo {
    .APKInfo_inner {
      width: var(--innerWidth);
    }

    .apkinfo-title {
      font-size: 24px;
      margin-bottom: 30px;
    }

    .apkinfo_appName {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    .apkinfo_appIcon,
    .apkinfo_packageName {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }

    .apkinfo_pn_rightWrap {
      width: 100%;
    }

    .apkinfo_pn_rw_topWrap {
      max-width: 100%;
      display: flex;
      align-items: center;
    }

    .apkinfo_packageName-text {
      font-size: 14px;
    }

    .apkinfo_pn_rw-description {
      white-space: normal;
      margin-top: 40px;
    }

    .apkinfo_appName-title,
    .apkinfo_packageName-title,
    .apkinfo_appIcon-title {
      margin-bottom: 5px;
      font-size: 15px;
    }

    .apkinfo_packageName-title {
      margin-top: 5px;
    }

    .apkinfo_appName-input,
    .apkinfo_packageName-input {
      // width: 130px !important;
      // height: 35px !important;
    }

    .apkinfo_appName-input {
      width: calc(var(--innerWidth) - 20px);
      // height: 35px !important;
      // border: 1px solid red;
      padding: 10px;
    }

    .apkinfo_packageName-input {
      // max-width: 70px;
    }

    .apkinfo_packageName-checkBtn,
    .apkinfo_appIcon-addBtn {
      margin-left: 5px;
      padding: 4px 10px;
      border-radius: 5px;
      font-size: 13px;
      img {
        margin-right: 5px;
      }
    }
    .apkinfo_packageName-checkBtn {
      position: absolute;
      right: 0px;
      top: 70px;
    }

    .apkinfo_appIcon-addBtn {
      position: absolute;
      left: 90px;
      top: 30px;
    }

    .apkinfo_appIcon-icon {
      height: 80px !important;
      width: 80px !important;
      margin-top: 20px;
    }
    .apkinfo_appIcon-icon-empty {
      height: 80px !important;
      width: 80px !important;
    }

    .apkinfo_footer {
      margin-bottom: 30px;
    }

    .apkinfo_footer-nextBtn {
      padding: 4px 18px;
      font-size: 15px;
    }

    .apkinfo_packageName-checkBtn:hover,
    .apkinfo_appIcon-addBtn:hover,
    .apkinfo_footer-nextBtn:hover {
      opacity: 0.5;
      transform: scale(1.05);
    }

    .apkinfo-warning {
      border: 1px solid red;
    }
    .apkinfo_appIcon-addBtn-description {
      left: 0;
    }
  }
}
