.LectureVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;

  .Video {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    video {
      width: 50%;
      height: auto;
    }

    .Exit {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 8px;
      color: white;
      cursor: pointer;

      img {
        margin-bottom: 4px;
      }
    }
  }
}
