.pythonFooter {
  box-sizing: border-box;
  position: relative;
  height: 47px;
  padding-left: 10px;
  background: #000140;
  background: url("../../../../../Image/newPython/footer-bg-png@2x.png")
    no-repeat left/cover;

  .pythonFooterRightButton {
    display: flex;
    position: absolute;
    right: 18px;
    bottom: 12px;

    > div {
      width: 46px;
      height: 31px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    div + div {
      margin-left: 12px;
    }

    .pythonQuestionBtn {
      margin-left: 12px;
    }
  }

  @media screen and (max-width: 1439px) {
    .pythonFooterRightButton > div {
      width: 58px;
      height: 39px;
    }
  }
}
