.Page--BUILDER {
  .handle {
    cursor: move;
  }
  .QnA {
    overflow-y: scroll;
    width: 570px;
    height: 100%;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    border-radius: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: var(--W_White);
    color: var(--W_Gray03);
  }

  //title line
  .QnATitleLine {
    height: 38px;
    display: flex;
    border-bottom: 1px solid var(--W_Gray04);
  }
  .QnATitle {
    line-height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
  .QnAClose {
    cursor: pointer;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 8px;
  }
  .QnARefresh {
    cursor: pointer;
    width: 30px;
    position: absolute;
    left: 14px;
    top: 8px;
    z-index: 2;
  }

  .QnAContent {
    position: relative;
    height: 540px;
    overflow: auto;
  }
}
