.dreamEditor_editor_field-conditions {
  .conditions {
    width: 100%;
  }
  .condition {
    display: inline-block;
    vertical-align: top;
    margin: 0 12px 12px 0;
    padding: 12px 18px;
    width: 420px;
    background-color: white;
    border-radius: 6px;
  }
  .condition-add {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #999;
    background-color: #eee;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  .condition_field {
    margin-bottom: 12px;
  }
  .condition_field-type {
    select {
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      border: none;
      outline: none;
    }
  }
  .condition_field-payload {
    margin-bottom: 0;
  }

  .condition_delete {
    margin-left: auto;
    padding: 3px;
    width: fit-content;
    font-size: 12px;
    color: red;
    cursor: pointer;
  }
}
