.Page--Home {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  .Home--Inner {
    width: 1080px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  // Slick 이 focus 될 때 outline 생기는 문제
  *:focus {
    outline: 0;
    outline: none;
  }
  .slick-dots {
    position: absolute;
    bottom: 30px;
    z-index: 1;
  }

  .slick-dots li button:before {
    color: #666666 !important;
    opacity: 1 !important;
  }

  .slick-dots li.slick-active button:before {
    color: #fff !important;
    opacity: 1 !important;
  }

  .MuiGrid-item {
    display: flex;
  }

  .Home__Start__Coding {
    background: #141821;
    width: 100%;
    height: 343px;
    padding: 60px 0;
    color: #fff;
    font-weight: bold;
    text-align: center;

    .Home--Inner {
      margin: 0 auto;
    }

    .Home__Start__SubTitle {
      height: 36px;
      font-size: 24px;
      letter-spacing: -0.44px;
      margin-bottom: 3px;
    }

    .Home__Start__Title {
      font-size: 45px;
      letter-spacing: -0.83px;
      margin-bottom: 28px;
    }

    .Home__Start__Mobile__Title {
      display: none;
    }

    .btn-group.pc {
      display: flex;
      justify-content: center;
    }

    .btn-group.mobile {
      display: none;
    }

    .btn-blockCoding,
    .btn-textCoding {
      width: 291px;
      height: 88px;
      cursor: pointer;
    }

    .btn-blockCoding {
      width: 291px;
      height: 88px;
      background: url("../../Image/btn-block-coding-default.png") no-repeat
        center/cover;
    }

    .btn-textCoding {
      background: url("../../Image/btn-text-coding-default.png") no-repeat
        center/cover;
      margin-right: 58px;
    }

    .btn-blockCoding:hover,
    .btn-textCoding:hover,
    .btn-blockCoding.click,
    .btn-textCoding.click {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    }

    .btn-blockCoding.click {
      background: url("../../Image/btn-block-coding-pressed.png") no-repeat
        center/cover;
    }

    .btn-textCoding.click {
      background: url("../../Image/btn-text-coding-pressed.png") no-repeat
        center/cover;
    }
  }

  .Home__Editor__Recommand__Game {
    width: 100%;
    padding: 100px 0;
    background-color: #282c36;
    color: #fff;

    .Home--Inner {
      width: 1080px;
      margin: 0 auto;
    }

    .Home__Editor__Recommand__Game__Wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .Home__Editor__Recommand__Game__Box {
      position: relative;
      min-width: 529px;
      width: 529px;
      margin-bottom: 35px;
      overflow: hidden;
      cursor: pointer;
    }

    .Home__Editor__Recommand__Game__Box:nth-child(2n) {
      margin-left: auto;
    }

    .Home__Editor__Recommand__Game__Image_Wrapper {
      position: relative;
      max-width: 529px;
      height: 271px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 529px;
        height: 137px;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 29%,
          #000000
        );
      }

      img {
        pointer-events: none;
      }
    }

    .playStoreIcon {
      position: absolute;
      top: 210px;
      right: 10px;
      width: 166px;
      height: 51px;
    }

    .Home__Editor__Recommand__Game__Box:active
      .Home__Editor__Recommand__Game__Image_Wrapper::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 529px;
      height: 271px;
      background: rgba(0, 0, 0, 0.5);
    }

    .Home__Editor__Recommand__Game__Box img {
      position: relative;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.5s transform;
    }

    .Home__Editor__Recommand__Game__Box:hover {
      .Game__Title {
        border-bottom: 1px solid #fff;
      }

      img.game_icon {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }

    .Home__Editor__Recommand__Game__Title,
    .Game__Title {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: -0.44px;
      border-bottom: 1px solid transparent;
    }

    .Home__Editor__Recommand__Game__Title {
      margin-bottom: 35px;
    }

    .Game__Title {
      display: inline-block;
      margin: 21px 9px 10px 0;
      transition: 0.5s border;
    }

    .Home__Editor__Recommand__Game__ViewMore {
      position: relative;
      display: inline-block;
      margin-left: 12px;
      font-weight: normal;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -18px;
        background: url("../../Image/icon-more-all.svg") no-repeat center/cover;
        width: 12px;
        height: 12px;
      }
    }

    .Home__Editor__Recommand__Game__ViewMore,
    .Game__Maker {
      font-size: 15px;
      letter-spacing: -0.28px;
      color: #afafaf;
    }

    .Game__Maker {
      display: inline-block;
    }

    .Game__Info {
      word-break: keep-all;
      font-size: 15px;
      line-height: 1.67;
      letter-spacing: -0.28px;
    }
  }

  .Home__Guide__Banner {
    width: 100%;
    height: 96px;
    line-height: 96px;
    background: #1db6ff;
    color: #fff;

    .Home--Inner {
      // width: 1170px;
      width: 1080px;
      margin: 0 auto;
    }

    .Home__Guide__Banner__Title {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.44px;
    }

    .Home__Guide__Banner__SubTitle {
      margin-left: 15px;
      font-size: 15px;
      letter-spacing: -0.28px;
    }

    .Home__Guide__Banner__Mobile__Title,
    .Home__Guide__Banner__Mobile__SubTitle {
      display: none;
    }

    .Guide__Button__Wrapper {
      float: right;

      a {
        display: inline-block;
        width: 165px;
        line-height: 36px;
        border-radius: 18px;
        border: solid 1px #ffffff;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
      }

      .Btn_Tutorial {
        margin-right: 20px;
      }
    }
  }

  .Home__Guide__Banner__pc {
    display: block;
  }
  .Home__Guide__Banner__mobile {
    display: none;
  }

  .Home__Best__Game {
    width: 100%;
    height: 1041px;
    padding: 104px 0 0;
    background: #282c36;
    color: #fff;

    .Home--Inner {
      // width: 1170px;
      width: 1080px;
      margin: 0 auto;
    }

    .Home__Best__Game__Title {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.44px;
      margin-bottom: 35px;
    }

    .Home__Best__Game__ViewMore {
      position: relative;
      margin-left: 12px;
      font-size: 15px;
      font-weight: normal;
      letter-spacing: -0.28px;
      color: #afafaf;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -18px;
        background: url("../../Image/icon-more-all.svg") no-repeat center/cover;
        width: 12px;
        height: 12px;
      }
    }

    .Home__Best__Game__TabList {
      list-style: none;
      padding: 0;
      border-bottom: 5px solid #202531;
      margin-bottom: 80px;
    }

    .Home__Best__Game__TabList li {
      position: relative;
      width: 110px;
      line-height: 62px;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -0.28px;
      text-align: center;
      cursor: pointer;
    }

    .Home__Best__Game__TabList li:hover::after,
    .Home__Best__Game__TabList li.click::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: inherit;
      height: 5px;
      background: #1db6ff;
    }

    .Home__Best__Game__List {
      position: relative;
      width: 200px;
      float: left;
      margin: 0 20px 48px 0;
      cursor: pointer;
    }

    .Home__Best__Game__List:hover {
      .Home__Best__Game__List__Image {
        transform: scale(1.1);
      }
      .Home__Best__Game__List__Title__Text {
        border-bottom: 1px solid #fff;
      }
    }

    .Home__Best__Game__List__Image_Wrapper {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 5px;
    }

    .Home__Best__Game__List__Image {
      position: relative;
      width: 200px;
      height: 200px;
      transition: 0.5s transform;
    }

    .Home__Best__Game__List:active .Home__Best__Game__List__Image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 43.5vw;
      background: rgba(0, 0, 0, 0.5);
    }

    .Home__Best__Game__List:nth-child(5n) {
      margin-right: 0;
    }

    .Home__Best__Game__List__Title {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -0.28px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 14px 0 10px;
      height: 47px;

      img {
        position: relative;
        top: 0px;
        border-radius: 50%;
        margin-right: 6px;
        width: 22px;
        height: 22px;
      }
    }

    .Home__Best__Game__List__Title__Text {
      display: inline-block;
      max-width: calc(100% - 28px);
      height: 22px;
      border-bottom: 1px solid transparent;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: 0.5s border;
    }

    .Home__Best__Game__List.rank::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 4px;
      width: 50px;
      height: 50px;
      background: url("../../Image/ranking-icon-gold.svg") no-repeat
        center/cover;
    }

    .Home__Best__Game__List.second::after {
      background: url("../../Image/ranking-icon-silver.svg") no-repeat
        center/cover;
    }

    .Home__Best__Game__List.third::after {
      background: url("../../Image/ranking-icon-bronze.svg") no-repeat
        center/cover;
    }

    .Home__Best__Game__List__Maker,
    .Home__Best__Game__Info {
      margin-left: 28px;
      color: #afafaf;
    }

    .Home__Best__Game__List__Maker {
      display: inline-block;
      width: calc(100% - 28px);
      height: 22px;
      font-size: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .Home__Best__Game__Info span {
      position: relative;
      margin-left: 24px;
    }

    .Home__Best__Game__Info span:first-child {
      margin-left: 15px;
    }

    .Home__Best__Game__Info {
      margin-top: 3px;
      font-size: 12px;

      .like::after,
      .view::after,
      .comment::after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: -15px;
        background: url("../../Image/main-icon-like.svg") no-repeat center/cover;
      }
      .view::after {
        background: url("../../Image/main-icon-view.svg") no-repeat center/cover;
      }

      .comment::after {
        background: url("../../Image/main-icon-comment.svg") no-repeat
          center/cover;
      }
    }
  }

  .Home__Create__Rank {
    width: 100%;
    height: 856px;
    background: #282c36;
    color: #fff;

    .Home--Inner {
      // width: 1170px;
      width: 1080px;
      margin: 0 auto;
    }

    .Home__Create__Rank__Title {
      margin-top: 100px;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.44px;
    }

    .Home__Create__Rank__TabList {
      padding: 0;
      height: 42px;
      list-style: none;
      margin-bottom: 35px;
    }

    .Home__Create__Rank__TabList li {
      float: left;
      width: 92px;
      line-height: 42px;
      text-align: center;
      border-radius: 50px;
      border: 1px solid #1db6ff;
      color: #1db6ff;
      margin-right: 20px;
      margin-bottom: 35px;
      cursor: pointer;
    }

    .Home__Create__Rank__TabList li:hover,
    .Home__Create__Rank__TabList li.click {
      background-color: #1db6ff;
      color: #fff;
    }

    .Home__Create__Rank__ResultLists {
      width: 100%;
      overflow: hidden;
    }

    .Home__Create__Rank__ResultList__Left,
    .Home__Create__Rank__ResultList__Right {
      width: 524px;
      border-top: 1px solid #141821;
      border-bottom: 1px solid #141821;
      float: left;
    }

    .Home__Create__Rank__ResultList__Left {
      margin-right: 32px;
    }

    .Home__Create__Rank__ResultList {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 14px 0 15px 0;

      img {
        border-radius: 50%;
        margin: 0 20px;
        width: 60px;
        height: 60px;
      }

      .Home__Create__Rank__User {
        display: flex;
        cursor: pointer;
      }
      .Home__Create__Rank__User__Info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .Home__Create__Rank__Num {
        width: 23px;
      }

      .Home__Create__Rank__Name {
        max-width: 310px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.28px;
      }

      .Home__Create__Rank__Follower {
        font-size: 12px;
        letter-spacing: -0.22px;
        color: #afafaf;
      }
    }

    .Home__Create__Rank__ResultList + .Home__Create__Rank__ResultList::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 470px;
      height: 1px;
      background: #141821;
    }

    .Btn-Follow {
      width: 80px;
      height: 30px;
      border-radius: 5px;
      background-color: #393e4f;
      border: none;
      color: #fff;
      margin-left: auto;
      cursor: pointer;
      font-size: 12px;
      letter-spacing: -0.22px;
      transition: 0.3s background;
      font-family: "Noto Sans KR", sans-serif;

      &:hover {
        background: #494f64;
      }
    }

    .click {
      background: #141821;
      color: #afafaf;

      &:hover {
        background: #141821;
      }
    }

    .Btn-Follow:active {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .Home__MainGameWrapper {
    position: relative;
    width: 100%;
    height: 400px;
    .Home__MainGameWrapper_Overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #fff0 0%, #fff0 50%, #151516 100%);
      pointer-events: none;
    }
    .Home__MainGameWrapper_Slider {
      width: 100%;
      height: 100%;
    }
    .Home__MainGameWrapper_Banner {
      position: relative;
      height: 400px;
    }
    .Home__MainGameWrapper_Banner_Img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      img {
        height: 100%;
      }
    }
    .Home__MainGameWrapper_Banner_Img_Overlay {
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      height: calc(100% - 2px);
      border: 1px solid transparent;
      box-sizing: content-box;
      background: linear-gradient(
        90deg,
        #151516 0%,
        #fff0 30%,
        #fff0 70%,
        #151516 100%
      );
    }
    .slick-arrow {
      width: 55px;
      height: 55px;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
    .slick-prev {
      background: url("../../Image/home_slider_prev.svg");
      background-repeat: no-repeat;
      background-size: cover;
      left: calc(50% - 540px);
    }
    .slick-prev:hover {
      background: url("../../Image/home_slider_prev_hover.svg") no-repeat
        center/cover;
    }
    .slick-prev:before {
      content: none;
    }
    .slick-next {
      background: url("../../Image/home_slider_next.svg");
      background-repeat: no-repeat;
      background-size: cover;
      right: calc(50% - 540px);
    }
    .slick-next:hover {
      background: url("../../Image/home_slider_next_hover.svg");
    }
    .slick-next:before {
      content: none;
    }
    .Home__MainGameWrapper_Banner_Content {
      width: auto;
      margin: 0 auto;
      position: absolute;
      z-index: 10;
      align-items: left;
      top: 50%;
      left: calc(50% - 450px);
      transform: translate(0, -50%);
    }
    .Home__MainGameWrapper_Banner_Title {
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      white-space: pre;
    }
    .Home__MainGameWrapper_Banner_Subtitle {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    .Home__MainGameWrapper_Banner_Button {
      display: inline-block;
      margin-top: 30px;
      line-height: 40px;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      padding: 0 15px;
    }
    .Home__MainGameWrapper_Banner_Button:hover {
      opacity: 0.7;
    }
  }

  .Home__AppBanner {
    margin-top: 104px;
    display: flex;
    position: relative;
    overflow: hidden;
    .Home__PhoneImg {
      height: 290px;
      position: absolute;
      top: 0;
      right: 0;
    }
    .Home__PhoneImg__warpper {
      border-radius: 26px;
      margin-left: 105px;
      border-radius: 15px;
      width: 570px;
      min-height: 290px;
    }

    /* main slide */
    .Home__slide {
      width: 555px;
      height: 259px;
      position: relative;
      right: 14px;
      top: 15px;
    }
    .Home__slide__item {
      width: 555px;
      height: 259px;
    }
    .Home__slide__item img {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .Home__AppBanner__RightWrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 50px;
      width: 100%;
      font-size: 35px;
      font-weight: 500;

      .Home__AppBanner__RightWrapper__TextWrapper {
        display: flex;
        flex-direction: column;
      }

      .Home__AppBanner__RightWrapper-title {
        letter-spacing: -0.84px;
        font-size: 13px;
        font-weight: bold;
        color: #ffffff;
      }

      .Home__AppBanner__RightWrapper-des {
        margin-top: 10px;
        white-space: pre;
        font-size: 32px;
        font-weight: 300;
        line-height: 1.72;
        letter-spacing: -2.07px;
        color: #ffffff;
      }

      .Home__AppBanner__RightWrapper__AppWrapper {
        display: flex;
        align-items: center;
        letter-spacing: -2.33px;

        img {
          margin-right: 18px;
          object-fit: cover;
          width: 163px;
          height: 44px;
          cursor: pointer;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
        }
        img:hover {
          opacity: 0.7;
        }
      }
    }
    .Home__AppBanner__RightWrapper__AppWrapper__Mobile {
      display: none;
      margin: 30px 8px 0 8px;
      a {
        padding: 0 8px;
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
  }

  .Home__VideoWrapper {
    margin-top: 91px;
    .Home__VideoWrapper--video {
      border-radius: 15px;
      width: 100%;
      height: auto;
      outline: none;
      cursor: pointer;
    }
  }

  .Home__UserWrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Home__UserWrapper_Inner {
      width: 1080px + 31.1px;
      margin: 0 auto;
    }

    .Home__UserWrapper-label {
      height: 37px;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: -2.07px;
      color: #ffffff;
      margin-bottom: 7px;
    }

    .Home__UserWrapper--title {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: -2.07px;
      color: #ffffff;
      margin-bottom: 37px;
      line-height: 1;
      margin-top: 12px;
      margin-bottom: 35px;
    }

    .Home__UserWrapper_SlideWrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .Home__UserWrapper_SlideWrapper-usercard {
        width: 80px;
        margin-right: 31.1px;
      }
    }
  }

  .Home__GameWrapper {
    margin-top: 96px;
    margin-bottom: 181px;
    .Home__GameWrapper-label {
      height: 37px;
      font-size: 32px;
      font-weight: 300;
      letter-spacing: -1.71px;
      color: #ffffff;
      margin-bottom: 7px;
    }

    .Home__GameWrapper_Wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;

      .Home__GameWrapper--title {
        line-height: 1;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -2.07px;
        color: #ffffff;
      }

      .Home__GameWrapper_Wrapper_MoreWrapper {
        display: flex;
        min-height: 47px;
        align-items: flex-end;

        .Home__GameWrapper_Wrapper_MoreWrapper_EndWrapper {
          display: flex;
          align-items: center;
          max-height: 26px;

          img {
            padding-top: 1px;
            width: 12px;
            height: 18px;
          }
        }

        .Home__GameWrapper_Wrapper_MoreWrapper-title {
          letter-spacing: -1.29px;
          font-size: 20px;
          font-weight: normal;
          color: #ffffff;
          margin-right: 10px;
        }

        img {
          cursor: pointer;
        }
      }
    }

    .Home__GameWrapper_Games {
      flex-wrap: wrap;
      display: flex;
      width: 1095px;
    }
    .GameClassWrapper {
      width: 204px;
      margin-right: 15px;
      margin-bottom: 42px;
    }
  }

  @media screen and (max-width: 1079px) {
    .Home--Inner {
      width: 100%;
    }

    .slick-arrow {
      display: none !important;
    }

    .Home__MainGameWrapper {
      height: auto;
      max-height: 450px;

      .slick-arrow {
        top: 59%;
        width: 40px;
        height: 40px;
      }
      .slick-prev {
        left: 10%;
      }
      .slick-next {
        right: 10%;
      }

      .Home__MainGameWrapper_Banner_Content {
        width: inherit;
        top: 54px;
        left: 20px;
        transform: translate(0, 0);
        width: 56.1%;
        word-break: keep-all;
      }

      .Home__MainGameWrapper_Banner {
        height: 100%;
        max-height: 450px;
      }

      .Home__MainGameWrapper_Banner_Img {
        position: static;
        left: none;
        transform: translate(0);

        img {
          width: 100%;
          max-height: 450px;
          object-fit: cover;
          object-position: 50% 50%;
        }
      }

      .Home__MainGameWrapper_Banner_Title {
        font-size: 30px;
        white-space: pre-line;
      }

      .Home__MainGameWrapper_Banner_Button {
        height: 36px;
        line-height: 34px;
        font-size: 15px;
        font-weight: normal;
        margin-top: 12px;
      }

      .Home__MainGameWrapper_Banner_Img_Overlay {
        height: auto;
      }
    }

    .Home__Start__Coding {
      height: 242px;
      padding: 48px 0 0;
      font-size: 25px;

      .Home__Start__Title,
      .Home__Start__SubTitle {
        display: none;
      }

      .Home__Start__Mobile__Title {
        display: inline-block;
        font-size: 20px;
        color: #fff;
        margin-bottom: 24px;
      }

      .Home__Start__Mobile__Title p:nth-child(2) {
        font-size: 22px;
      }

      .btn-group.pc {
        display: none;
      }

      .btn-group.mobile {
        display: flex;
        justify-content: center;
      }

      .btn-blockCoding {
        width: 105px;
        height: 35px;
        background: url("../../Image/app-store-badge@3x.png") no-repeat
          center/cover;
      }

      .btn-textCoding {
        width: 114px;
        height: 34px;
        background: url("../../Image/google-play-badge@3x.png") no-repeat
          center/cover;
        margin-right: 13px;
      }
    }

    .Home__Editor__Recommand__Game {
      box-sizing: border-box;
      padding: 48px 20px;
      height: auto;

      .Home__Editor__Recommand__Game__Box {
        width: 100%;
        min-width: 100%;
        margin-bottom: 30px;
      }

      .playStoreIcon {
        width: 110px;
        height: 34px;
        top: calc((100vw - 42px) * 0.5122 - 45px);
      }

      .Home__Editor__Recommand__Game__Box:nth-child(2) {
        margin-top: 38.9px;
      }

      .Home--Inner {
        width: 100%;
      }

      .Home__Editor__Recommand__Game__Wrapper {
        display: block;
      }

      .Home__Editor__Recommand__Game__Image_Wrapper {
        width: 100%;
        max-width: 100%;
        height: calc((100vw - 42px) * 0.5122);

        &:after {
          width: 100%;
          height: 50%;
        }
      }

      .Game__Title,
      .Game__Maker {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .Home__Editor__Recommand__Game__Box:active
        .Home__Editor__Recommand__Game__Image_Wrapper::after {
        width: 100%;
        height: 100%;
      }

      .Home__Editor__Recommand__Game__Title {
        font-size: 18px;
        letter-spacing: -0.33px;
      }

      .Home__Editor__Recommand__Game__ViewMore {
        font-size: 14px;
        letter-spacing: -0.26px;
      }

      .Home__Editor__Recommand__Game__Info_Wrapper {
        margin: 18px 0 15px;
      }

      .Game__Title {
        font-size: 18px;
        letter-spacing: -0.33px;
        margin: 0 6px 0 0;
      }
    }

    .Home__Guide__Banner {
      position: relative;
      height: 80px;
      box-sizing: border-box;

      .Home--Inner {
        width: 100%;
        padding: 22px 0 0 20px;
      }

      .Guide__Button__Wrapper,
      .Home__Guide__Banner__Title,
      .Home__Guide__Banner__SubTitle {
        display: none;
      }

      .Home__Guide__Banner__Mobile__Title,
      .Home__Guide__Banner__Mobile__SubTitle {
        display: block;
        line-height: 1.5;
      }

      .Home__Guide__Banner__Mobile__Title {
        font-size: 15px;
        font-weight: bold;
        letter-spacing: -0.28px;
        margin-bottom: 2px;
      }

      .Home__Guide__Banner__Mobile__SubTitle {
        font-size: 12px;
        letter-spacing: -0.22px;
        font-weight: normal;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translate(0, -50%);
        background: url("../../Image//link-arrow.svg") no-repeat center/cover;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
    .Home__Guide__Banner__pc {
      display: none;
    }
    .Home__Guide__Banner__mobile {
      display: block;
      cursor: pointer;
    }
    .Home__Best__Game {
      height: auto;
      padding: 48px 20px;

      .Home--Inner {
        width: 100%;
      }
      .Home__Best__Game__ViewMore::after {
        right: -15px;
      }

      .Home__Best__Game__Title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.33px;
        margin-bottom: 20px;
      }

      .Home__Best__Game__ViewMore {
        font-size: 14px;
        letter-spacing: -0.26px;
      }

      .Home__Best__Game__TabList {
        margin-bottom: 30px;

        li {
          width: 72px;
          line-height: 40px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: -0.26px;
        }
      }
      .Home__Best__Game__List__Maker,
      .Home__Best__Game__Info {
        margin-left: 22px;
      }
      .Home__Best__Game__List__Maker {
        font-size: 12px;
      }
      .Home__Best__Game__Lists {
        display: flex;
        flex-wrap: wrap;
      }
      .Home__Best__Game__List {
        width: calc(50% - 8px);
        margin: 0 16px 30px 0;
      }
      .Home__Best__Game__List:nth-child(5n) {
        margin-right: 16px;
      }
      .Home__Best__Game__List:nth-child(2n) {
        margin-right: 0;
      }
      .Home__Best__Game__List__Image_Wrapper,
      .Home__Best__Game__List__Image {
        width: 100%;
        height: 43.5vw;
      }
      .Home__Best__Game__List__Title {
        font-size: 14px;
        padding: 5px 0 3px 0;
        height: 31px;
      }
      .Home__Best__Game__List__Title img {
        top: -5px;
        width: 15px;
        height: 15px;
      }
    }
    .Home__Create__Rank {
      height: auto;

      .Home--Inner {
        width: 100%;
        padding: 0 20px 48px 22px;
      }

      .Home__Create__Rank__Title {
        margin-top: 48px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.33px;
      }

      .Home__Create__Rank__TabList {
        margin-bottom: 33px;
      }

      .Home__Create__Rank__TabList li {
        width: 75px;
        line-height: 35px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.26px;
        margin: 0 6px 0 0;
      }

      .Home__Create__Rank__ResultList__Left {
        border-bottom: 0;
      }

      .Home__Create__Rank__ResultList__Right {
        position: relative;
        border-top: 0;
      }

      .Home__Create__Rank__ResultList__Left,
      .Home__Create__Rank__ResultList__Right {
        width: 100%;

        .Home__Create__Rank__Num {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.3px;
        }
      }

      .Home__Create__Rank__Name {
        width: calc(100vw - 230px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .Home__Create__Rank__ResultList img {
        margin: 0 12px 0 6px;
        width: 40px;
        height: 40px;
      }

      .Home__Create__Rank__ResultList + .Home__Create__Rank__ResultList::after,
      .Home__Create__Rank__ResultList__Right::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 74px);
        height: 1px;
        background: #141821;
      }
    }
  }
}
