.pythonResultPopup {
  position: relative;
  width: 416px;
  height: 361px;
  background: url("../../../../../Image/newPython/play-result-bg@2x.png")
    no-repeat center/contain;

  .title {
    font-size: 18px;
    text-align: center;
    color: #00fffc;
    line-height: 42px;
  }

  .closePopupBtn {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 34px;
    height: 34px;
    cursor: pointer;
  }

  .resultImg {
    display: block;
    width: 310px;
    height: 214px;
    object-fit: contain;
    margin: 17px auto 0;
  }

  button {
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 126px;
    height: 42px;
    background: url("../../../../../Image/newPython/play-result-confirm@2x.png")
      no-repeat center/contain;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;

    &:hover {
      background: url("../../../../../Image/newPython/play-result-confirm-hover@2x.png")
        no-repeat center/contain;
    }
  }
}
