.attendance__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 36px;
}

.attendance__calendar-container {
  background: #1C1C1C;
  border-radius: 16px;
  width: 870px;
  min-height: 775px;
  padding: 24px 29px 40px;

  .rbc-calendar {
    .rbc-toolbar {
      margin-bottom: 26px;
    }
    .rbc-btn-group {
      display: flex;
      align-items: center;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 500;
      img {
        cursor: pointer;
      }
    }
    .rbc-month-view {
      border: none;
      color: #5B5B5B;

      .rbc-month-header {
        font-size: 24px;
        margin-bottom: 10px;
        .rbc-header {
          border-bottom: none;
          border-left: none;
        }
      }
      .rbc-month-row + .rbc-month-row {
        border-top: none;
      }
      .rbc-day-bg + .rbc-day-bg {
        border-left: none;
      }

      .rbc-month-row {
        justify-content: center;
        overflow: visible;
        .rbc-row-bg {
          height: 116px;
          .rbc-day-bg {
            background:url("../../../Image/calendar-background.png") no-repeat;
            background-position: center;
            background-size: 94px 94px;
          }
          .rbc-off-range-bg {
            background: none;
          }
        }
        .rbc-row-content {
          height: 116px;
          .rbc-row {
            height: 116px;
            align-items: center;
          }
          .rbc-date-cell {
            text-align: center; 
            padding-right: 0;
            button {
            font-weight: 700;
            line-height: 34px;
            font-size: 34px;
            pointer-events: none;
            }
          }
          .rbc-off-range {
            button {
              display: none;
            }
          }
        }
      }
    }
  }
}