.WebRTCLogRnd {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
}
.WebRTCLogTitle {
  background: var(--W_White);
  border: var(--W_Dim) solid 1px;
  padding: 5px;
  font-weight: bold;
}
.WizLiveLogWrapper {
  background: var(--W_Dim);
  border: 1px solid var(--W_White);
  width: 100%;
  height: 300px;
  color: var(--W_White);
  overflow: auto;
  padding: 5px;
  font-weight: bold;
}
.WizLiveLogTabs {
  height: 50px;
}

.WizLiveLogTab {
  display: block;
  background: var(--W_White);
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}
.WizLiveLogTab--on {
  background-color: var(--W_PointColor);
}
.WizLiveLogTab--off {
  background: var(--W_White);
}

.WizLiveLogGames {
  // height: 43px;
}
.WizLiveLogGames:after {
  content: "";
  display: block;
  clear: both;
}

.WizLiveLogGame {
  display: block;
  background: var(--W_White);
  // width: 120px;
  width: 100%;
  line-height: 35px;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.WizLiveLogGame--on {
  background-color: var(--W_PointColor);
}
.WizLiveLogGame--off {
  background: var(--W_Gray04);
}
.WizLiveLogAPI {
  line-height: 35px;
  text-align: center;
  width: 100px;
  background: var(--W_PointColor);
}

.WizLiveLogSubTitle {
  line-height: 25px;
}
