.CommentView {
  color: #ffffff;
  padding-bottom: 40px;
  position: relative;
}

.CommentView__h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.CommentView__hr {
  margin: 0;
  border: 0.5px solid #b8bfd3;
}

.CommentItemList {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}
// .CommentView__mobile__off {
//   display: none;
// }
// .CommentView__mobile__on {
//   position: relative;
//   line-height: 50px;
//   font-size: 14px;
//   font-weight: 500;
//   letter-spacing: -0.26px;
//   margin-bottom: 20px;
// }

.CommentItem__header {
  min-height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.CommentItem__headerBtnRow {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.CommentItem__replyBtn {
  position: relative;
  box-sizing: border-box;
  width: 63px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px 0 22px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.16px;
  cursor: pointer;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);

  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 22px;
    height: 22px;
    background: url('../../../Image/dreamclass/review-22-reply.svg');
  }
}

.CommentDot {
  margin-left: 5px;
}
.UserTag__link {
  text-decoration: none !important;
  color: inherit;
  width: calc(100% - 35px);
}
.UserTag,
.CommentWrite {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
}
.CommentWrite {
  &.commentMode { 
    align-items: flex-start;
  }
  .UserTag {
    width: auto;
  }
  .UserTag > div {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
  }
  .CommentWriteForm {
    height: 100%;
    width: calc(100% - 60px);
    margin-left: auto;
  }

  .CommentWriteForm__textarea {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
  }
}
.UserTagIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.UserTagIcon__img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-color: #cecece;
}
.UserTagName {
  max-width: calc(100% - 170px);
  font-size: 15px;
  font-weight: bold;
  margin-left: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.28px;
  color: #ffffff;
}
.CommentItem__date {
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.CommentItem__body {
  position: relative;
  top: -25px;
  margin-left: 60px;
  letter-spacing: -0.28px;
  color: #afafaf;

  &.reply {
    margin-left: 50px;
  }
}
.CommentItem__content {
  display: flex;
  align-items: center;
  padding: 0;
  line-height: normal;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  color: inherit;
  margin-bottom: 2px;
  white-space: pre-wrap;
  word-break: break-all;
}

.CommentItem__content__fold {
  max-height: 180px;
  pointer-events: none;
  overflow: hidden;
}

.content__more {
  margin-top: 9px;
  cursor: pointer;
}
.content__more__text {
  margin-left: auto;
  font-size: 15px;
  color: #afafaf;
  letter-spacing: -0.28px;
  font-weight: normal;
}
.content__more__img {
  float: right;
  padding-top: 15.5px;
}
.CommentItem__Info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.CommentItem__targetUser {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 1.56;
  color: #ffffff;
  padding: 0 5px;
  margin-right: 5px;
}

.CommentItem__hr {
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #3a405b;
}

.CommentWrite {
  margin-bottom: 20px;
}

.CommentWriteForm__textarea {
  width: 100%;
  background: transparent;
  resize: none;
  color: #afafaf;
  color: inherit;
  outline: none;
  box-sizing: border-box;
  line-height: 1.56;
  border: none;
  padding: 13px 16px;
  box-sizing: border-box;
}
.CommentWriteForm__textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.CommentWriteForm__btnRow {
  display: none;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  margin-top: 5px;

  &.show {
    display: flex;
  }
}
.CommentWriteForm__submitBtn,
.CommentWriteForm__cancelBtn {
  width: 100px;
  line-height: 50px;
  padding: 0;
  background-color: #ff6f44;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.CommentWriteForm__cancelBtn {
  background-color: #5b5b5b;
  margin-right: 10px;
}
.submitBtn--off {
  background-color: rgba(91, 91, 91, 0.4);
  color: rgba(255, 255, 255, 0.3);
}
.CommentView__loadMoreBtn {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 50px;
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1.03px;
  color: #bdbdc0;
  margin-bottom: 10px;
  span {
    padding-right: 15px;
  }
  img {
    position: absolute;
    top: 6px;
    right: 0;
    margin-left: 5px;
  }
}
.CommentViewRight__on {
  display: block;
  padding-bottom: 20px;
}
.CommentViewRight__off {
  display: none;
}
.Dot3BtnContainer {
  position: relative;

  .Dot3Btn__btn {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../../../Image/more-horizontal.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .Dot3BtnMenu {
    position: absolute;
    right: 12px;
    top: 24px;
    width: 84px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Dot3BtnMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 15px;
    color: #3a405b;
    cursor: pointer;
  }
}

.CommentEditForm {
  .CommentWriteForm {
    width: 100%;
    margin-left: 12px;
    border-radius: 5px;
  }

  .EditCommentWriteForm {
    position: relative;
    display: block;
    background: transparent;
    border: none;
    margin: 3px 0 0 0;
  }
}

.EditCommentWriteForm {
  #editBtn {
    width: 100px;
    height: 50px;
    background-color: #ff6f44;
  }

  #cancleBtn {
    width: 100px;
    height: 50px;
    color: #ffffff;
  }

  .CommentWriteForm__textarea {
    width: 100%;
    height: auto;
    padding: 14px 16px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    min-height: 50px;
    font-size: 16px;
    line-height: 1.56;
  }

  .CommentWriteForm__btnRow.Edit {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1079px) {
  .CommentView {
    padding-bottom: 30px;
  }

  .CommentWriteForm__btnRow {
    min-width: 66px;
    height: 50px;
  }

  .UserTagName,
  .CommentItem__body,
  .content__more__text {
    font-size: 14px;
    letter-spacing: -0.26px;
  }
}
