.oobchelper {
  width: 100%;

  .oobchelper_toggle {
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
  }

  .oobchelper_context_body {
    display: flex;
    margin-top: 12px;
    height: 420px;
  }
  .oobchelper_context {
    padding: 12px 18px;
    width: 480px;
    max-height: 100%;
    word-break: break-all;
    background-color: white;
    border-radius: 6px;
    user-select: text;
    overflow-y: scroll;
  }
  .oobchelper_editor {
    flex: 1;
    margin-left: 12px;
    background-color: #303442;
    border-radius: 6px;

    .oobceditor_utils {
      bottom: 30px;
    }
  }
}
