.ocpView {
  .Content_Main {
    display: flex;
  }
  .Content_Main_Left {
    display: flex;
    flex-direction: column;
    width: 42%;
  }
  .Content_Main_Left_Bottom {
    display: flex;
    height: 100%;
    background-color: black;
  }
  .Content_Main_Right {
    width: 58%;
  }
}
