.builder3d {
  .objectBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 12px;
    background-color: #141821ee;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    pointer-events: auto;
    user-select: none;
    -webkit-user-drag: none;
    background-color: #272b37;
    overflow: hidden;
  }

  .objectBox_header {
    position: relative;
    text-align: center;
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .objectBox_title {
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
  }
  .objectBox_closeBtn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .objectBox_content {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  .objectBox_content_left {
    width: 200px;
    min-width: 200px;
    padding: 10px;
    height: 100%;
    border-right: 1px solid #272b37;
  }
  .objectBox_content_right {
    padding: 10px 10px 0 10px;
    width: 100%;
    height: 100%;
    background-color: #2f3443;
  }

  .objectBox_categories {
  }
  // .objectBox_categories_title {
  //   margin-bottom: 12px;
  //   font-size: 18px;
  //   font-weight: bold;
  //   text-align: center;
  // }
  .objectBox_category {
    width: 100%;
    height: 64px;
    line-height: 64px;
    cursor: pointer;
  }
  .objectBox_category_title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: fit-content;
    height: 64px;
    line-height: 64px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
  .objectBox_category img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .objectBox_category:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .objectBox_category-current {
    cursor: default;
    border-radius: 10px;
    background-color: #1db6ff;
    .objectBox_category_title {
      font-weight: bold;
    }
    &:hover {
      background-color: #1db6ff;
    }
  }

  .objectBox_assets {
    height: 100%;
    overflow: scroll;
  }
  .objectBox_assets::-webkit-scrollbar {
    display: none;
  }
  .objectBox_assets_title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
  }

  .objectBox_asset {
    display: inline-block;
    margin-right: 6px;
    padding: 10px;
    width: 115px;
    border-radius: 6px;
    cursor: pointer;
  }
  .objectBox_asset:hover {
    background-color: #272b37;
  }
  .objectBox_asset_thumbnail {
    width: 95px;
    height: 95px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
    }
  }
  .objectBox_asset_name {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    // line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .objectBox_asset-decription {
    position: relative;
    display: flex;
    padding: 6px 12px;
    margin-bottom: 6px;
    width: 100%;
    border: 1px solid #272b37;
  }
  .objectBox_asset-decription .objectBox_asset_thumbnail {
    margin-right: 12px;
    padding: 3px;
    width: 60px;
    min-width: 60px;
    height: 60px;
  }
  .objectBox_asset_decription {
    padding: 3px 0;
  }
  .objectBox_asset_decription_title {
    font-size: 18px;
    font-weight: bold;
  }
  .objectBox_asset_decription_decription {
    font-size: 14px;
  }
  .objectBox_asset_plusBtn {
    margin-left: auto;
    opacity: 0;
  }
  .objectBox_asset:hover .objectBox_asset_plusBtn {
    opacity: 1;
  }
}
