.dreamEditor_projectList {
  display: flex;
  flex-direction: column;
  height: 100%;

  .dreamEditor_projectList_header {
    position: relative;
    display: flex;
    height: 60px;
  }
  .dreamEditor_projectList_title {
    margin: auto;
    font-size: 21px;
    font-weight: bold;
  }
  .dreamEditor_projectList_locale {
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
  }
  .dreamEditor_projectList_refresh {
    position: absolute;
    top: 22px;
    right: 12px;
    font-size: 12px;
    cursor: pointer;
  }
  .dreamEditor_projectList_course_add {
    position: absolute;
    top: 22px;
    right: 70px;
    font-size: 12px;
    cursor: pointer;
  }

  .dreamEditor_projectList_body {
    flex: 1;
    padding-bottom: 120px;
    overflow-y: scroll;
  }

  .dreamEditor_projectList_list {
  }
  .dreamEditor_projectList_element {
    display: flex;
    padding: 3px 12px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
      background-color: #999;
      opacity: 0.6;
    }
  }
  .dreamEditor_projectList_element_fold {
    display: flex;
    margin: auto 6px auto 0;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    cursor: pointer;
    span {
      margin: auto;
      height: 15px;
      line-height: 0.8;
      user-select: none;
    }
  }
  .dreamEditor_projectList_element_icon {
    margin: auto 6px auto 0;
    height: 21px;
  }
  .dreamEditor_projectList_element_title {
  }
  .dreamEditor_projectList_element_btns {
    display: flex;
    margin: auto 0 auto auto;
  }
  .dreamEditor_projectList_element_btn {
    padding: 3px;
    font-size: 12px;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .dreamEditor_projectList_element-selected {
    font-weight: bold;
    background-color: #999;
    cursor: default;
    &:hover {
      opacity: 1;
    }
  }
  .dreamEditor_projectList_element-course {
    padding-left: 12px;
  }
  .dreamEditor_projectList_element-lecture {
    padding-left: 36px;
    .dreamEditor_projectList_element_title {
    }
  }
  .dreamEditor_projectList_element-project {
    padding-left: 60px;
  }
}
