.builder3d {
  --toolbarHeight: 70px;

  .toolbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 6.48vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: auto;
    padding: 10px;
  }
  .toolbar_section {
    min-width: var(--toolbarHeight);
    height: var(--toolbarHeight);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(32, 35, 44, 0.8);
    border-radius: 12px;
    display: flex;
    align-items: center;
  }

  .toolbar_section-play {
    display: flex;
    align-items: center;
    width: 100px;
    height: calc(var(--toolbarHeight) - 20px);
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    background-color: var(--W_PointColor);
    color: white;
    border-radius: 10px;
    transition: transform 0.12s;
    cursor: pointer;

    img {
      margin-left: 10px;
    }
  }

  .toolbar_section-menu:hover,
  .toolbar_section-play:hover {
    transform: scale(1.02);
  }
  .toolbar_section-menu {
    width: 90px;
  }

  .toolbar_section-gizmo {
    padding: 10px;
  }
  .toolbar_gizmoType {
    margin-right: 10px;
    width: calc(var(--toolbarHeight) - 20px);
    height: calc(var(--toolbarHeight) - 20px);
    line-height: calc(var(--toolbarHeight) - 20px);
    text-align: center;
    border-radius: 10px;
    transition: color 0.12s, opacity 0.12s;
    padding: 6px;
    cursor: pointer;
  }
  .toolbar_gizmoType:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .toolbar_gizmoType-current {
    background-color: rgba(32, 35, 44, 0.8);
  }
  .toolbar_gizmoType-disable {
    opacity: 0.3;
    background-color: transparent;
    pointer-events: none;
    cursor: default;
  }
  .toolbar_gizmoType-disable:hover {
    background-color: transparent;
  }
  .toolbar_section-camera {
    position: relative;
    margin: 0 20px;
  }
  .toolbar_section-camera::before,
  .toolbar_section-camera::after {
    position: absolute;
    top: 10px;
    left: -10px;
    content: "";
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
  }
  .toolbar_section-camera::after {
    left: unset;
    right: -10px;
  }
}
