.pythonResult {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .successTitle {
    width: 100%;
    margin-bottom: -4.2%;
    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .resultInfoWrapper {
    position: relative;
    width: 100%;
    height: 52vh;
    background: url("../../../../../Image//newPython/success-bg@2x.png")
      no-repeat center/cover;
  }

  .resultTextWrapper {
    position: absolute;
    top: 21.63%;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .iconWrapper {
    position: relative;
    left: 28.22%;
    width: 13.76vw;
    height: calc(13.76vw * 0.79);
    min-width: 141px;
    min-height: 112.1px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .fileNum {
      position: absolute;
      top: 36.6%;
      left: 49.64%;
      width: 1.56vw;
      line-height: calc(1.56vw * 1.25);
      text-align: center;
      font-size: 1.3671vw;
      font-weight: 500;
      color: #feff00;
      opacity: 0;
      animation: textOpacity 0.5s ease-out 2s none running;
      animation-fill-mode: forwards;
    }
  }

  .getItemList {
    position: relative;
    left: 28.22%;

    li {
      width: 36vw;
      font-size: 1.4648vw;
      min-height: 28px;
      line-height: calc((13.76vw * 0.79 * 0.76) / 3);
      padding-left: 2%;
      background: url("../../../../../Image/newPython/success-line@2x.png")
        no-repeat left/cover;
      white-space: nowrap;
      @media screen and (max-width: 1024px) {
        line-height: 28px;
      }
      opacity: 0;
    }

    li:nth-child(1) {
      animation: textOpacity 0.3s ease-out 2s none running;
      animation-fill-mode: forwards;
    }
    li:nth-child(2) {
      animation: textOpacity 0.3s ease-out 2.1s none running;
      animation-fill-mode: forwards;
    }
    li:nth-child(3) {
      animation: textOpacity 0.3s ease-out 2.2s none running;
      animation-fill-mode: forwards;
    }

    .pointText {
      color: #00fffc;
    }

    li + li {
      margin-top: 4px;
    }
  }

  .buttonWrapper {
    position: absolute;
    width: 100%;
    bottom: 18.36%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    opacity: 0;
    animation: textOpacity 0.3s ease-out 3s none running;
    animation-fill-mode: forwards;
  }

  button {
    width: 14.74vw;
    height: calc(14.74vw * 0.23);
    padding: 0;
    font-size: 1.5625vw;
    font-weight: 500;
    color: #ffffff;
  }

  button + button {
    margin-left: 2.05vw;
  }

  .replayBtn {
    background: url("../../../../../Image/newPython/result-btn-training@2x.png")
      no-repeat center/contain;
    &:hover {
      background: url("../../../../../Image/newPython/result-btn-training-hover@2x.png")
        no-repeat center/contain;
    }
  }

  .nextQuestBtn {
    background: url("../../../../../Image/newPython/result-btn-next@2x.png")
      no-repeat center/contain;
    &:hover {
      background: url("../../../../../Image/newPython/result-btn-next-hover@2x.png")
        no-repeat center/contain;
    }
  }

  @keyframes textOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
