.mycodingstyle {
  position: relative;
  padding-top: 60%;
  width: 100%;
  color: white;
  font-family: "CookieRunBoldTTF";
  background-color: #0d1016;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  @media screen and (max-width: 1079px) {
    padding-top: 166%;
  }

  .mycodingstyle_contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .mycodingstyle_title {
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    white-space: pre;
    @media screen and (max-width: 1079px) {
      font-size: 6vw;
    }
  }
  .mycodingstyle_subtitle {
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    width: 48%;
    @media screen and (max-width: 1079px) {
      width: 66%;
    }
  }
  .mycodingstyle_subtitle_text {
    z-index: 1;
    margin: 0 auto;
    padding: 6px;
    font-size: 18px;
    color: #999;
    background-color: #0d1016;
    @media screen and (max-width: 1079px) {
      font-size: 4vw;
    }
  }
  .mycodingstyle_subtitle_decorator {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #999;
  }

  .mycodingstyle_btn {
    z-index: 1;
    padding: 12px 48px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #1db6ff;
    border-radius: 12px;
    cursor: pointer;
    @media screen and (max-width: 1079px) {
      padding: 2vw 6vw;
      font-size: 4vw;
      border-radius: 6px;
    }
  }
  .mycodingstyle_btn:hover {
    opacity: 0.5;
  }
  .mycodingstyle_retryBtn,
  .mycodingstyle_backBtn {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
    @media screen and (max-width: 1079px) {
      top: 9vw;
      left: 3vw;
      font-size: 3vw;
    }
  }

  .mycodingstyle_img {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media screen and (max-width: 1079px) {
      display: none;
    }
  }
  .mycodingstyle_img-mobile {
    display: none;
    @media screen and (max-width: 1079px) {
      display: block;
    }
  }

  .mycodingstyle_contents-start {
    .mycodingstyle_btn {
      position: absolute;
      top: 68%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 12px 36px;
      font-size: 30px;
      @media screen and (max-width: 1079px) {
        top: 57%;
        padding: 2vw 5vw;
        font-size: 6vw;
        border-radius: 3vw;
      }
    }
  }

  .mycodingstyle_contents-question {
    display: flex;
    flex-direction: column;

    .mycodingstyle_subtitle {
      margin-top: 60px;
      @media screen and (max-width: 1079px) {
        margin-top: 12vw;
      }
    }
    .mycodingstyle_contents_choices {
      margin: auto auto 0 auto;
      display: flex;
      width: 90%;
      height: 60%;
      @media screen and (max-width: 1079px) {
        display: none;
      }

      .mycodingstyle_contents_character {
        position: relative;
        width: 30%;
        img {
          position: absolute;
          bottom: -12%;
          width: 100%;
        }
      }
      .mycodingstyle_contents_choice {
        position: relative;
        display: flex;
        width: 35%;
      }
      .mycodingstyle_contents_choice_bubble {
        position: relative;
        display: flex;
        padding: 0 3%;
        margin: auto;
        width: 96%;
        height: 60%;
        background-color: #282c36;
        border-radius: 24px;
        transition: 0.1s transform;
        cursor: pointer;
      }
      .mycodingstyle_contents_choice_bubble:hover {
        transform: scale(1.06);
      }
      .mycodingstyle_contents_choice_bubble img {
        margin: auto;
        width: 36%;
      }
      .mycodingstyle_contents_choice_bubble_title {
        margin: auto;
        text-align: center;
        font-size: 24px;
        white-space: pre;
      }

      --bubbleArrowWidth: 10px;
      --bubbleArrowOffset: -18px;
      .mycodingstyle_contents_choice_bubble_arrow {
        position: absolute;
        right: var(--bubbleArrowOffset);
        bottom: 24%;
        width: 0;
        height: 0;
        border-top: var(--bubbleArrowWidth) solid transparent;
        border-left: calc(var(--bubbleArrowWidth) * 2) solid #282c36;
        border-right: none;
        border-bottom: var(--bubbleArrowWidth) solid transparent;
      }
      .mycodingstyle_contents_choice-right
        .mycodingstyle_contents_choice_bubble_arrow {
        left: var(--bubbleArrowOffset);
        border-top: var(--bubbleArrowWidth) solid transparent;
        border-left: none;
        border-right: calc(var(--bubbleArrowWidth) * 2) solid #282c36;
        border-bottom: var(--bubbleArrowWidth) solid transparent;
      }
    }
    .mycodingstyle_contents_choices-mobile {
      display: none;
      height: 66%;
      @media screen and (max-width: 1079px) {
        display: block;
      }
      .mycodingstyle_contents_choice {
        position: relative;
        margin-bottom: 3vw;
        width: 100%;
        height: 21%;
      }
      .mycodingstyle_contents_choice_bubble {
        height: 100%;
        border-radius: 12px;
      }
      .mycodingstyle_contents_choice_bubble:hover {
        transform: none;
      }
      .mycodingstyle_contents_choice_bubble img {
        margin: auto 3vw;
        width: auto;
        height: 84%;
        object-fit: contain;
      }
      .mycodingstyle_contents_choice_bubble_choiceId {
        margin: auto 1vw;
        font-size: 6vw;
      }
      .mycodingstyle_contents_choice_bubble_title {
        margin: auto 3vw;
        text-align: center;
        font-size: 4vw;
        text-align: left;
        white-space: normal;
      }
      .mycodingstyle_contents_character {
        display: flex;
        width: 100%;
        img {
          position: relative;
          margin: -9vw auto 0 auto;
          width: 60%;
          object-fit: contain;
        }
      }
    }
  }

  .mycodingstyle_contents-result {

    .mycodingstyle_contents_result {
      z-index: 1;
      display: flex;
      margin: auto 30px 0 30px;
      height: 42%;
      @media screen and (max-width: 1079px) {
        display: block;
        margin: auto 3vw 0 3vw;
        height: auto;
      }
    }
    .mycodingstyle_contents_result_left {
      width: 50%;
      margin-right: 30px;
      @media screen and (max-width: 1079px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        object-fit: cover;
      }
    }
    .mycodingstyle_contents_result_right {
      display: flex;
      flex-direction: column;
      padding-bottom: 12px;
      width: 50%;
      @media screen and (max-width: 1079px) {
        width: 100%;
      }
    }
    .mycodingstyle_contents_result_title {
      margin-top: auto;
      font-size: 24px;
      font-family: "CookieRunBoldTTF";
      @media screen and (max-width: 1079px) {
        margin-top: 1.5vw;
        font-size: 4.5vw;
        text-align: center;
      }
    }
    .mycodingstyle_contents_result_description {
      margin-top: 30px;
      font-size: 16px;
      white-space: pre;
      @media screen and (max-width: 1079px) {
        margin-top: 2vw;
        font-size: 3vw;
        text-align: center;
        white-space: pre-line;
      }
    }
    .mycodingstyle_btn {
      margin: 42px auto auto auto;
      @media screen and (max-width: 1079px) {
        margin-top: 3vw;
        font-size: 3vw;
      }
    }
    .mycodingstyle_btn_desciption {
      margin: 18px auto 0 auto;
      @media screen and (max-width: 1079px) {
        margin-top: 1vw;
        font-size: 2vw;
        white-space: pre;
      }
    }
    .mycodingstyle_shares {
      display: flex;
      margin: 18px auto 0 auto;
      height: 9%;
      @media screen and (max-width: 1079px) {
        margin-top: 2vw;
        height: 6%;
      }
    }
    .mycodingstyle_share {
      margin: auto;
      height: 100%;
      cursor: pointer;
    }
    .mycodingstyle_share:first-of-type {
      margin-right: 6px;
    }
    .mycodingstyle_share:last-of-type {
      margin-left: 6px;
    }
    .mycodingstyle_shares_description {
      margin: 18px auto 0 auto;
      @media screen and (max-width: 1079px) {
        margin-top: 2vw;
        font-size: 2vw;
      }
    }
  }
}

.WizliveFreeTrialForm {
  width: 900px;
  height: 90vh;
  @media screen and (max-width: 1079px) {
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
}
