.builder3d {
  .publish {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    pointer-events: auto;
    transition: opacity 0.12s;
    overflow: hidden;
  }
  .publish-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .publish_overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    cursor: pointer;
  }
  .publish_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 720px;
    height: 600px;
    max-height: 100vh;
    color: white;
    background-color: #141821;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    user-select: none;
    backdrop-filter: blur(30px);
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.5);
  }
  .publish_header {
    background-color: #272b37;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .publish_title {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
  }
  .publish_closeBtn {
    position: absolute;
    padding: 10px;
    top: 7px;
    right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .publish_btn {
    transition: opacity 0.12s;
    cursor: pointer;
  }

  .publish_btn-iconChange,
  .publish_btn-iconDelete {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
    font-size: 14px;
    line-height: 34px;
    padding-left: 5px;
    border-radius: 10px;
    &:hover {
      background: #3a3e4e;
    }
    &:active {
      background: #1f222c;
    }
  }
  .publish_btn-iconDelete {
    margin-top: 0;
  }
  .publish_btn-publish {
    width: 43.75%;
    height: 8.72%;
    max-width: 210px;
    max-height: 50px;
    min-height: 30px;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--W_PointColor);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #4ac4ff;
    }
    &:active {
      background: #1791cc;
    }
  }

  .publish_body {
    display: flex;
    flex: 1;
  }
  .publish_left {
    width: 29.4%;
    height: 100%;
    padding: 15px 20px;
    background: #272b37;
  }
  .publish_right {
    flex: 1;
    backdrop-filter: blur(30px);
    background-color: #2f3443;
    padding: 15px 20px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .publish_field {
    margin-bottom: 30px;
  }
  .publish_field_title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  .publish_field label {
    cursor: pointer;
  }
  .publish_field input,
  .publish_field textarea {
    display: block;
    padding: 6px 9px;
    width: 100%;
    font-size: 15px;
    font-family: Arial;
    color: white;
    caret-color: white;
    background-color: #272b37;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    outline: none;
    resize: none;
    box-sizing: border-box;
  }
  .publish_field input::placeholder,
  .publish_field textarea::placeholder {
    color: rgba(255, 255, 255, 0.25);
  }
  .publish_field input:focus,
  .publish_field textarea:focus {
    border-color: var(--W_PointColor);
  }
  .publish_field input {
    height: 36px;
  }
  .publish_field textarea {
    padding: 9px;
    height: 90px;
  }
  .publish_field-warn input,
  .publish_field-warn textarea {
    border-color: var(--W_Red);
  }

  .publish_icon {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #393e4f;
    border-radius: 7px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #iconFileInput {
    display: none;
  }

  .publish_tags {
    margin-bottom: 10px;
  }
  .publish_tag {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    background-color: #404555;
    transition: opacity 0.12s;
    cursor: pointer;
  }
  .publish_tag img:hover {
    opacity: 0.3;
  }
  .tagDeleteBtn {
    position: relative;
    top: -1px;
    width: 7px;
    height: 7px;
    margin-left: 6px;
  }
  .publish_popular_tags {
    margin-top: 12px;
  }
  .publish_popular_tag {
    display: inline-block;
    margin-right: 14px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  }

  .publish_radios {
    display: flex;
  }
  .publish_radio {
    margin-right: 30px;
  }
  .publish_radio label {
    display: flex;
    position: relative;
    cursor: pointer;
    // user-select: none;
  }
  .publish_radio label input {
    margin: 0;
    opacity: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #1f222c;
    border-radius: 50%;
  }
  .publish_radio label input:checked ~ .checkmark {
    background-color: #1db6ff;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .publish_radio label input:checked ~ .checkmark:after {
    display: block;
  }
  .publish_radio label .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }
  .publish_radio_title {
    margin-left: 10px;
    font-size: 15px;
  }
  .publish_radio input {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
}
