.introduce-area__content-box {
  padding: 73px 0 99px;

  img {
    max-width:770px;
    margin: 52px auto 0;
    display: block;

  }
}

.introduce-area__content-title {
  font-size: 32px;
  color: #fff;
  line-height: 41px;
  font-weight:700;
  display:block;
  margin-bottom: 24px;
  text-align: center;
}

.introduce-area__content-child-title {
  font-size: 16px;
  color: #aeaeae;
  line-height: 26px;
  font-weight: 400;
  display:block;
  text-align: center;
  white-space: pre-wrap;
}