.Page--LMS {
  color: #fff;
}
body {
  overflow-y: scroll;

  &::-webkit-scrollbar{
    overflow-y: scroll;
    scrollbar-color: red;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: red;
  }
  
  &::-webkit-scrollbar-track {
    background-color: grey;
  }
}

