.dreamEditor_editor_field-slide {
  .dreamEditor_editor_field_body {
    display: flex;
  }
  .slide_viewer {
    height: 600px;
    border-radius: 6px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .slide_editor {
    margin-left: 12px;
    flex: 1;
    font-family: "Inconsolata", monospace;
  }
}
