.Page--BUILDER {
  .AnimationItem {
    min-width: 50px;
    max-width: 50px;
    text-align: center;
  }
  .AnimationItem__row2 {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.18px;
    color: var(--W_Gray03);
  }
}
