.forgotpw {
  width: 380px;
  height: 320px;
  text-align: center;

  .forgotpw_title {
    font-size: 24px;
    font-weight: bold;
  }
  .forgotpw_desc {
    margin-top: 60px;
    font-size: 16px;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.6;
  }
  .forgot-email__desc {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    white-space: pre-wrap;
    line-height: 1.6;
  }
  
  .forgot-email__required-info {
    li {
      text-align: left;
    }
  }
  
  .forgot-email__contact {
    text-align: center;
    color: #FFA944;
    font-weight: bold;
    font-size: 18px;
  }

  .popup_input {
    margin-top: 10px;
  }
  .popup_button {
    margin-top: 30px;
  }
  @media screen and (max-width: 1079px) {
    margin: 0 auto;
    width: 320px;
  }
}
