.builder3d {
  .sceneList {
    display: flex;
    flex-direction: column;
    padding: 0.92vh 1.85vh;
    width: 100%;
    height: 22.12vh; // 239 / 1080
    min-height: 210px;
    color: #fff;
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: auto;
  }

  .sceneList_scenes {
    height: 100%;
    overflow-y: scroll;
  }
  .sceneList_scenes::-webkit-scrollbar {
    display: none;
  }

  .sceneList_scene {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    padding: 6px 12px;
    height: calc(22.12vh * 0.23);
    min-height: 36px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .sceneList_startScene {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 12.5%;
      right: 2.5%;
      width: 28px;
      height: 28px;
      background: url("../../../../Image/builder3d/first-scene.svg");
    }
  }
  .sceneList_scene-current {
    border: 1px solid #1db6ff;
    cursor: default;
  }
  .sceneList_scene:last-of-type {
    margin-bottom: 10px;
  }
  .sceneList_scene_thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      object-fit: cover;
    }
  }

  .sceneList_scene_nameInput {
    position: absolute;
    top: calc(22.12vh * 0.23 * 0.26);
    left: calc(22.12vh * 0.23 * 0.26);
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    outline: none;
    pointer-events: none;
  }
  .sceneList_scene-current .sceneList_scene_nameInput {
    pointer-events: auto;
  }

  .sceneList_addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
    height: calc(22.12vh * 0.23);
    min-height: 36px;
    text-align: center;
    background-color: #292c37;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #373a4b;
    }

    &:active {
      background-color: #20232c;
    }
  }
}
