.FreeTrialSurveyPopup--Outer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  background: var(--W_Dim);
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: hidden;

  .FreeTrialSurveyPopup--Inner {
    position: relative;
    z-index: 3;
    width: 568px;
    height: 894px;
    border-radius: 18px;
    background-color: var(--W_White);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .Step1--Doing {
    display: flex;
    align-items: center;
    p {
      width: 24px;
      height: 24px;
      background-image: url("../../../../../../Image/ic-color-one.svg");
      margin-right: 8px;
    }
    label {
      size: 16px;
      color: var(--W_Gray03);
    }
  }

  .Step1--Done {
    display: flex;
    align-items: center;
    p {
      width: 24px;
      height: 24px;
      background-image: url("../../../../../../Image/ic-check-line.svg");
      margin-right: 8px;
    }
    label {
      size: 16px;
      color: var(--W_Gray01);
    }
  }

  .Step2--Ready {
    display: flex;
    align-items: center;
    margin-left: 64px;
    p {
      width: 24px;
      height: 24px;
      background-image: url("../../../../../../Image/ic-gray-two.svg");
      margin-right: 8px;
    }
    label {
      size: 16px;
      color: var(--W_Gray01);
    }
  }

  .Step2--Doing {
    display: flex;
    align-items: center;
    margin-left: 64px;
    p {
      width: 24px;
      height: 24px;
      background-image: url("../../../../../../Image/ic-color-two.svg");
      margin-right: 8px;
    }
    label {
      size: 16px;
      color: var(--W_Gray03);
    }
  }

  .NoFreeTrial {
    display: flex;
    align-items: center;
    p {
      width: 24px;
      height: 24px;
      background-image: url("../../../../../../Image/ic-check.svg");
      margin-right: 8px;
    }
    label {
      size: 16px;
      color: var(--W_Gray03);
    }
  }

  .FreeTrialSurveyPopup--Step {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
  }

  .FreeTrialSurveyPopup--Title {
    font-size: 28px;
    font-weight: bold;
    color: var(--W_Gray03);
    margin-bottom: 24px;
    white-space: pre-line;
  }

  .FreeTrialSurveyPopup--Content {
  }

  .FreeTrialSurveyPopup--Content--RadioItem {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .FreeTrialSurveyPopup--Content--StarItem {
    padding-top: 16px;
  }

  .FreeTrialSurveyPopup--Content--Title {
    .Required {
      size: 18px;
      color: var(--W_Gray04);
    }

    font-size: 18px;
    color: var(--W_Gray03);
    margin-bottom: 16px;
  }

  .FreeTrialSurveyPopup--Content--Row {
    display: flex;
    margin-top: 4px;
  }

  .FreeTrialSurveyPopup--Content--RowItem {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .FreeTrialSurveyPopup--Content--RowItemLabel {
    min-width: 80px;
    margin-left: 10px;
    margin-right: 32px;
    font-size: 14px;
    color: var(--W_Gray03);
  }

  .FreeTrialSurveyPopup--Content--Spacing {
    margin-bottom: 24px;
  }

  .FreeTrialSurveyPopup--SendButton--Spacing {
    height: 136px;
  }

  textarea {
    width: 94%;
    padding: 15px;
    background-color: var(--W_Gray05);
    border: solid 1px var(--W_Gray01);
    font-size: 16px;
    resize: none;
    margin-bottom: 24px;
  }
  textarea:focus {
    outline: 0;
  }

  .FreeTrialSurveyPopup--SurveyBody {
    textarea {
      height: 70px;
    }
  }

  .FreeTrialSurveyPopup--FeedbackBody {
    textarea {
      height: 104px;
    }
  }

  .rating {
    width: 100%;
    margin-top: 14px;
    .rating_star {
      margin: 2px;
    }
  }

  .FreeTrialSurveyPopup--Send {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 200px;
      height: 43px;
      font-size: 18px;
      border-radius: 25px;
      color: var(--W_White);
    }
  }

  .FreeTrialSurveyPopup--Send--Enable {
    background-color: var(--W_PointColor);
    cursor: pointer;
  }

  .FreeTrialSurveyPopup--Send--Disable {
    background-color: var(--W_Gray04);
  }
}

$media_break1_min: 894px;

@media screen and (max-height: 893px) {
  .FreeTrialSurveyPopup--Outer {
    overflow: auto;
  }
}
