.builder3d {
  .handle {
    cursor: move;
  }
  .API {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    background-color: var(--W_White);
    overflow: hidden;
    border-radius: 20px;
  }

  //title line
  .APITitleLine {
    line-height: 50px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #272b37;
  }
  .APITitle {
    margin-left: 30px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: var(--W_Gray03);
  }
  .APIClose {
    cursor: pointer;
    width: 30px;
    text-align: center;
    margin-right: 10px;
  }
  // search
  .APISearch {
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    input {
      box-sizing: border-box;
      width: calc(100% - 20px);
      height: 31px;
      color: var(--W_Gray03);
      margin: 15px 0;
      padding-left: 30px;
      border-radius: 7px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background-color: #272b37;
      font-size: 15px;
    }
    input::placeholder {
      font-size: 15px;
      line-height: 1.71;
      // color: var(--W_Gray04);
    }
    input:focus {
      outline: none;
      border: solid 1.5px rgba(29, 182, 255, 0.4);
    }
    img {
      position: absolute;
      top: 23px;
      left: 19px;
      cursor: pointer;
      width: 12px;
      height: 12px;
    }
  }
  .APIContent {
    width: 100%;
    display: flex;
    height: calc(100% - 50px);
  }

  //category
  .APICategories {
    min-width: 150px;
    padding: 10px;
    background-color: #272b37;
    overflow: auto;
  }
  .APICategory {
    cursor: pointer;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.22px;
    color: var(--W_Gray03);
    line-height: 32px;
    border-radius: 7px;
    padding-left: 10px;
  }
  .APICategoryActive {
    background-color: var(--W_PointColor);
    color: var(--W_TextColorOnBG);
  }

  .APIRight {
    width: calc(100% - 150px);
    background-color: #2f3443;
  }
  //item
  .APIItems {
    width: 100%;
    height: calc(100% - 62px);
    border-radius: 8px;
    overflow: auto;
    padding: 0 10px;
    margin-bottom: 18px;
  }
  .APIItem {
    cursor: pointer;
    font-size: 14px;
    line-height: 28px;
    border-bottom: 1px solid var(--W_Gray01);
  }
  .APIItem.active {
    border-radius: 7px;
    background-color: #404555;
    .APITipDesc,
    .APITipParamDesc,
    .APITipDesc2 {
      padding: 0 10px 0 20px;
    }
    .APITipParamTitle,
    .APITipSnippet{
      padding: 0 10px;
    }
    .APITipSnippetCode{
      border-radius: 7px;
      background: #272b37;
      padding: 7px 10px;
      margin: 10px;
    }
  }
  .APIItemName {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    color: #dfdfe2;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    &:hover {
      border-radius: 7px;
      background-color: #404555;
    }
  }
  .APIItemNameActive {
    color: var(--W_PointColor);
  }

  //tip
  .APITip {
    font-size: 12px;
    color: var(--W_Gray03);
    line-height: 1.5em;
  }
  .APITipParamTitle,
  .APITipSnippet {
    margin-top: 5px;
    color: var(--W_Gray02);
  }
}
