.publishpopup {
  width: 570px;
  background-color: #1c1c1c;
  padding: 20px 33px 29px 33px;
  border-radius: 20px;

  /* header */
  .publishpopup__header {
    .header__title {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
    }

    .popup__closebtn {
      position: absolute;
      right: 55px;
      top: 70px;
      cursor: pointer;
    }
  }

  /* form */
  .publishform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 40px;
  }

  .publishform__row {
    width: 100%;
    margin-bottom: 30px;
  }
  .publishform__title {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .publishform__title__wrapper {
    display: flex;
    position: relative;
  }

  // name
  .publishform__input {
    width: calc(100% - 32px);
    height: 52px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding-right: 17px;
    padding-left: 17px;
    font-size: 16px;
  }
  .publishform__input.validationFalse,
  .publishform__textarea.validationFalse {
    border: solid 1px red;
  }
  .publishform__validation_check {
    color: red;
    font-size: 13px;
  }
  .publishform__input::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }
  .publishform__input:focus {
    outline: none;
  }

  // desc
  .publishform__textarea {
    resize: none;
    width: calc(100% - 32px);
    height: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px 17px 13px 17px;
    font-size: 16px;
    color: #ffffff;
  }
  .publishform__textarea::placeholder {
    font-size: 13px;
    color: #afafaf;
  }
  .publishform__textarea:focus {
    outline: none;
  }

  // icon
  .publishform__icon {
    position: relative;
    display: flex;
  }
  .publishform__icon__img__wrapper {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 16px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;

    .publishform__icon__img {
      width: 130px;
      height: 130px;
    }

    .thumbnailIcon {
      position: absolute;
      top: 0;
      left: 0;
      width: 53px;
      height: 53px;
    }
  }
  .publishform__icon__img:hover {
    opacity: 0.8;
  }
  .publishform__icon__buttons {
    position: absolute;
    bottom: 0;
    left: 131px;
  }
  .publishform__icon__button {
    cursor: pointer;
    width: 137px;
    height: 34px;
    border-radius: 8px;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15.5px;
    background-color: #343434;
  }
  .publishform__icon__button:hover {
    opacity: 0.8;
  }
  .publishform__icon__input {
    display: none;
  }

  /* tag */
  .tag--added {
    margin-bottom: 12px;
  }
  .tag--added__item {
    position: relative;
    display: inline-block;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    line-height: 1;
    color: #ffffff;
    margin: 0 10px 10px 0;
    cursor: pointer;
    padding: 5px 22px 5px 8px;

    img {
      position: absolute;
      right: 4px;
    }
  }
  .tag--recommend {
    margin-top: 5px;
  }
  .tag--recommend__item {
    font-size: 14px;
    color: #ffffff;
    margin-right: 15px;
    cursor: pointer;
  }

  .publishform__code_allow__wrapper {
    display: flex;

    .text {
      height: 27px;
      font-size: 15px;
      line-height: 1.8;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 10px;
    }
  }
  /* code open */
  .publishform__code_allow {
    position: relative;
    width: 51px;
    height: 31px;
    background-color: rgba(131, 131, 131, 0.3);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;

    span {
      position: absolute;
      top: 2px;
      left: 2px;
      display: inline-block;
      box-sizing: border-box;
      width: 27px;
      height: 27px;
      border-radius: 8px;
      box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.06),
        0 3px 8px 0 rgba(0, 0, 0, 0.15);
      border: solid 0.5px rgba(0, 0, 0, 0.04);
      background-color: #ffffff;
      transition: 0.5s all;
    }

    &.On {
      background-color: #00c47a;
      span {
        left: calc(100% - 29px);
      }
    }
  }

  .button_wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .publishbtn,
  .cancleBtn {
    width: 150px;
    line-height: 50px;
    border-radius: 10px;
    background-color: #ff6f44;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .cancleBtn {
    margin-right: 10px;
    background: #5b5b5b;
  }
}

@media screen and (max-width: 1169px) {
  .publishpopup {
    width: 100%;
    border-radius: unset;
    padding: 20px 21px;

    .publishform__textarea {
      height: 252px;
    }

    .publishform {
      margin-top: 30px;
    }

    .publishform__icon__button {
      font-size: 14px;
    }

    .button_wrapper {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 20px;

      > div {
        width: 100%;
      }

      .cancleBtn {
        background: transparent;
        color: #ff6f44;
      }
    }
  }
}
