.Page--Ranking {
  color: #ffffff;
  background: #000000;

  .RankWrapper {
    width: 770px;
    margin: 0 auto;
  }

  .RankTitle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .RankSeason {
    margin-top: 20px;
    line-height: 52px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    color: #ff6f44;
    padding-left: 14px;
  }
  
  .RankSubTitle {
    margin-top: 20px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
  }

  .RankTabs {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .RankTab {
    width: 185px;
    height: 70px;
    border-radius: 10px;
    background-color: #353535;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    opacity: 0.4;
    box-sizing: border-box;
  }
  .RankTabActive {
    opacity: 1;
    border: solid 2px #ff6f44;

  }
  .RankTabImg {
    display:block;
    margin-left: 10px;
  }
  .RankTabTitle {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
  }

  .RankLine {
    height: 1px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .RankInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
  }
  .RankItem {
    height: 92px;
    border-radius: 16px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
  .RankInfoImg {
    width: 62px;
    height: 62px;
    display: block;
    margin-right: 20px;
  }
  .RankItemMe {
    height: 130px;
      .RankInfoImg {
        width: 90px;
        height: 90px;
      }
  }
  .RankItemRank {
    width: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .RankItemRankNumber {
    line-height: 26px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  .RankImg {
    display:block;
  }
  .RankItemBefore {
    line-height: 22px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 5px;
    border: solid 1px rgba(255, 255, 255, 0.5);;
    color: rgba(255, 255, 255, 0.5);;
  }
  .RankItemPlus {
    font-size: 14px;
    border: solid 1px #00db2a;
    color: #00db2a;
  }
  .RankItemMinus {
    border: solid 1px #ff2729;
    color: #ff2729;
  }

  .RankInfoDesc {
  }

  .RankInfoName {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
  }
  .RankInfoSubscribe {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
  }

  .RankInfoNumberInfo {
    height: 36px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      display:block;
    }
  }
  .RankInfoNumber {
    font-size: 18px;
    margin-left: 13px;
  }
  .RankInfoNumberUnit {
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 4px;
    margin-right: 12px;
  }

  .RankInfoMyPage,
  .RankInfoSubOn,
  .RankInfoSubOff {
    width: 92px;
    line-height: 34px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  .RankInfoSubOn {
    background-color: #ff6f44;
  }

  .RankSearchWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  .RankSearch {
    width: 370px;
    height: 52px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    input {
      display:block;
      width:calc(100% - 16px - 50px);
      height:100%;
      border:none;
      background:transparent;
      outline: none;
      padding-left: 16px;
      padding-right: 50px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
    img {
      display:block;
      position: absolute;
      right:13px;
      top:13px;
      cursor: pointer;
    }
  }

  .RankUpdateInfo {
    float: right;
    color: rgba(255, 255, 255, 0.5);
  }

  .RankPages {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 20px;
  }
  .RankPage {
    cursor: pointer;
    width: 44px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    font-size: 14px;
    color: #ffffff;
  }
  .RankPageCurrent {
    background-color: #ff6f44;  
  }
  .RankPageNav {
    display:block;
    width: 92px;
    line-height: 34px;
    text-align: center;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.4;
  }
  .RankPageActive {
    opacity: 1;
    cursor: pointer;
  }

  @media screen and (max-width: 770px) {  
    .RankWrapper {
      width: 100vw;
      padding: 0 21px;
    }
  
    .RankTitle {
      font-size: 24px;
    }
    
    .RankSeason {
      line-height: 50px;
    }
    
    .RankSubTitle {
      span:nth-child(2) {
        float: none;
        margin-left: 4px;
      }
    }
  
    .RankTabs {
      flex-wrap: wrap;
    }
  
    .RankTab {
      height: 60px;
      width: calc(50% - 5px);
      margin-bottom: 10px;
    }
    // .RankTabActive {
    // }
    .RankTabImg {
      width:40px;
      height:40px;
    }
    // .RankTabTitle {
    // }
  
    // .RankLine {
    // }
    .RankInfo {
      width: auto;
      flex: 1;
    }
    .RankItem {
      cursor: pointer;
      height: 56px;
      margin-bottom: 10px;
    }
    .RankInfoImg {
      margin-right: 8px;
      width: 40px;
      height: 40px;
    }
    .RankItemMe {
      height: 72px;
        .RankInfoImg {
          width: 40px;
          height: 40px;
        }
    }
    .RankItemRank {
      width: 53px;
    }
    .RankItemRankNumber {
      font-size: 14px;
    }
    .RankImg {
      width: 38px;
      height: 38px;
    }
    .RankItemBefore {
      font-size: 10px;
      line-height: 10px;
      margin-top: 0px;
    }
    // .RankItemPlus {
    // }
    // .RankItemMinus {
    // }
  
    // .RankInfoDesc {
    // }
  
    .RankInfoName {
      font-size: 14px;
    }
    .RankInfoSubscribe {
      font-size: 12px;
    }
  
    .RankInfoNumberInfo {
      height: 26px;
      margin-right: 24px;
      img {
        width: 26px;
        height: 26px;
      }
    }
    .RankInfoNumber {
      font-size: 14px;
      margin-left: 3px;
    }
    .RankInfoNumberUnit {
      font-size: 10px;
      margin-left: 3px;
      margin-right: 8px;
    }
  
    .RankInfoMyPage,
    .RankInfoSubOn,
    .RankInfoSubOff {
      display:none;
    }
    // .RankInfoSubOn {
    // }

    .RankSearchWrapper {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .RankSearch {
      width:100%;
      height: 40px;
      input {
      }
      img {
        top:8px;
        width:24px;
      }
    }

    .RankUpdateInfo {
      margin-top: 10px;
      padding-left: 13px;
    }
  
    // .RankPages {
    // }
    .RankPage {
      display: none;
    }
    .RankPageCurrent {
      display: block;
      background-color: transparent;  
    }
    // .RankPageNav {
      
    // }
    // .RankPageActive {

    // }
  }
}
