.Page--Mypage {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;

  .Mypage--Inner {
    width: 100%;
  }

  .Mypage__Activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    z-index: 5;

    .Activity_Contents {
      margin-bottom: 100px;
    }
  }
}

@media screen and (max-width: 1169px) {
  .Page--Mypage {
    .Mypage--Inner {
      width: calc(100vw - 42px);
    }

    .Mypage__Activity {
      margin-top: 30px;
      
      .Activity_Tabs {
        margin-top: 23px;
        display: flex;

        .Activity_Tabs-tap {
          width: unset;
          margin: 0 15px;
        }
      }
      .Activity_Tabs_Ani {
        display: none;
      }
      .Activity_Contents {
        width: 100%;
        margin: 0 0 50px;
      }
    }

    .UserInfoTemplate-tooltip {
      display: none;
    }
  }
}
