.left-slide {
  position: relative;
  flex: 0 0 30%;
  width: 34%;
}

.content-slide__course-number {
  font-size: 16px;
  line-height: 16px;
  color: #ff6f44;
  line-height: 16px;
  letter-spacing: -0.01em;
  font-weight: 700;
  display: block;
  margin-bottom: 12px;
}

.content-slide__course-title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: #fff;
  display: block;
  margin-bottom: 22px;
}

.content-slide__thumbnail-wrap {
  border: 0.8px solid #3c3c3c;
  border-radius: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 194px;
  overflow: hidden;
  margin-bottom: 14px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content-slide__explan {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  display: block;
  margin-bottom: 22px;

  max-height: 71px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.content-slide__experience-btn {
  border-radius: 8px;
  width: 100%;
  display: block;
  background-color: #ff6f44;
  text-align: center;
  color: #fff;
  padding: 17px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  line-height: 18px;
  border: 0;
}

.swiper-button-prev, .swiper-button-next {
  width: 74px;
  height: 74px;
  top: 38%;
  background-color: transparent;
  border: 0;

  &::after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.swiper-button-prev {
  left: -35px;

  &::after {
    background-image: url(../../../../Image/btn_left-slide-arrow.svg);
  }
}

.swiper-button-next {
  right: -34px;
  z-index:  11;

  &::after {
    background-image: url(../../../../Image/btn_right-slide-arrow.svg);
  }
}

.left-slide__child-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-slide__child-title-left {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  width: 70%;
  color: #8e8e8e;
  display: block;
}

.left-slide__child-title-right {
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  font-weight: 400;
}

.left-slide__title-box {
  margin-bottom: 41px;
}

.content-slide__thumbnail-wrap--user {
  height: 458px; 
  position: relative;
  margin: 0;
}

.content-slide__course-length {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
  display: block;
  position: absolute;
  left: 14px;
  top: 14px;
  padding: 6px 13px;
  font-size: 15px;
  line-height: 15px;
  color: #fff;
  font-weight: 700;
  border: 1.8px solid #484848;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 0 14px rgba(0,0,0,0.5);
  background-color: #2a2a2a;
}

.swiper-pagination {
  bottom: 170px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 100px;
  padding: 3px 11px;
  display: block;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;

  span {
    color: #fff;
  }
}

.content-slide__slide--user {
  .swiper-pagination {
    bottom: 15px;
  }
}

.content-slide--user {
  .swiper-button-next, .swiper-button-prev {
    top: 59%;
  }
}

.content-slide__non-pay-dimmed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(0,0,0,0.78);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    color: #fff;
    display: block;
    text-align: center;

    &:first-child {
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      margin-bottom: 12px;
    }

    &:last-child {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #aeaeae;
    }
  }
}

@media screen and (max-width:768px) {
  .left-slide {
    width: 100%;
    flex: initial;
    margin-bottom: 15px;
  }
}