.builder3d {
  .objectList {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    color: #fff;
    pointer-events: auto;
  }

  .objectList_header {
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 3.61vh;
    min-height: 30px;
    padding-left: calc(3.61vh * 0.51);
    font-weight: bold;
    background-color: #20232c;
    color: #dfdfe2;
  }

  .objectList_graph {
    padding: 12px;
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2f3443;
    border-radius: 0 0 12px 0;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;

    // object line
    .rstcustom__node {
      border-radius: 10px;
      height: 28px;
      line-height: 28px;

      &:hover {
        background: #404555;
        .object_code-editor-button {
          width: 28px;
          height: 28px;
          background: url("../../../../Image/builder3d/object-list-code-editor-gray.svg");
        }
      }
      &.current:hover {
        background: #1db6ff;
      }
    }

    // current

    .objectList_item,
    .objectList_item-current {
      cursor: pointer;
    }

    .current {
      background: #1db6ff;
      border-radius: 7px;
      cursor: default;

      & .rstcustom__rowLabel {
        color: #ffffff;
      }
    }

    // collapse, expand button

    .rstcustom__collapseButton,
    .rstcustom__expandButton {
      width: 14px;
      height: 28px;
    }

    .rstcustom__collapseButton::after,
    .rstcustom__expandButton::after {
      border: 0;
      background: url("../../../../Image/builder3d/object-list-arrow-expanded-white.svg");
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 14px;
      height: 28px;
      opacity: 0.5;
    }

    .rstcustom__expandButton::after {
      top: 11px;
      left: -10px;
      transform: rotate(-90deg);
    }

    .current .rstcustom__collapseButton::after,
    .current .rstcustom__expandButton::after {
      opacity: 1;
    }

    .rstcustom__collapseButton:focus::after,
    .rstcustom__expandButton:focus::after {
      filter: unset;
    }

    // object name
    .rstcustom__rowLabel {
      width: 100%;
      padding-right: 0;
      color: #dfdfe2;
    }

    .rst__rowLandingPad,
    .rstcustom__rowLandingPad {
      position: relative;
      border: none;
      outline: none;
      border-top: 1px solid #1db6ff;
      width: 100%;
      background: transparent;
      &::before {
        background: transparent;
        border: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: -1px;
        width: 6px;
        height: 6px;
        background: url("../../../../Image/builder3d/triangle.svg");
        z-index: 10;
      }
    }
    .rst__rowCancelPad,
    .rstcustom__rowCancelPad {
      background: transparent;
    }

    // icon
    .object_code-editor-icon {
      width: 28px;
      height: 28px;
    }

    .object_code-editor-icon.mesh {
      background: url("../../../../Image/builder3d/object-list-mesh-white.svg");
    }
    .object_code-editor-icon.skybox {
      background: url("../../../../Image/builder3d/object-list-skybox-white.svg");
    }
    .object_code-editor-icon.light {
      background: url("../../../../Image/builder3d/object-list-light-white.svg");
    }
    .object_code-editor-icon.camera {
      background: url("../../../../Image/builder3d/object-list-camera-white.svg");
    }
    .object_code-editor-icon.gui {
      background: url("../../../../Image/builder3d/object-list-texture-gui-white.svg");
    }
    .object_code-editor-icon.textureGui {
      background: url("../../../../Image/builder3d/object-list-texture-gui-white.svg");
    }

    // button
    .rstcustom__row,
    .objectList_item {
      position: relative;
      width: 100%;
    }

    .rstcustom__toolbarButton {
      width: 28px;
      height: 28px;
    }

    .object_lock-icon {
      background: url("../../../../Image/builder3d/icon-30-right-click-lock.svg");
      width: 28px;
      height: 28px;
    }

    .object_unlock-icon {
      background: url("../../../../Image/builder3d/icon-30-right-click-unlock.svg");
      width: 28px;
      height: 28px;
    }

    .object_code-editor-button {
      position: absolute;
      top: 0;
      right: 3px;
      width: 28px;
      height: 28px;

      &:hover {
        background: url("../../../../Image/builder3d/object-list-code-editor-hightlight-hover.svg");
      }
      &:active {
        background: url("../../../../Image/builder3d/object-list-code-editor-hightlight-clicked.svg");
      }
      &.on {
        background: url("../../../../Image/builder3d/object-list-code-editor-white.svg");
      }
    }
  }

  .objectList_graph::-webkit-scrollbar {
    display: none;
  }

  .objectList_item_deleteBtn {
    cursor: pointer;
  }

  .objectList_addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.85vh;
    height: 5.18vh;
    min-height: 35px;
    text-align: center;
    background-color: #292c37;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #373a4b;
    }

    &:active {
      background-color: #20232c;
    }
  }
}
