/* cannot used colorset because this popup used at normal page */
.QRPopup {
  width: 438px;
  padding: 20px 33px 29px 33px;
  /* header */
  .QRPopup__header {
    .header__title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: -0.37px;
      color: #606060;
    }

    .popup__closebtn {
      position: absolute;
      right: 24px;
      top: 24px;
      cursor: pointer;
    }
  }

  .QR__wrapper {
    background: url("../../../Image/builder/group-43.svg");
    width: 164px;
    height: 165px;
    text-align: center;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 28px;
  }
  .QRPopup__qrcode {
    margin-top: 20px;
  }

  .QRPopupBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .QR_NOTICE {
    display: flex;
    font-size: 14px;
    margin-top: 20px;
    justify-content: space-around;
  }
  .QR__desc {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5px;
  }
  .QRPopupForm {
    width: 100%;
    position: relative;
  }
  .QRPopupForm__submitBtn {
    border: 0;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    background: url("../../../Image/builder/send-1-copy-2.svg");
    width: 13px;
    height: 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 12px;
    right: 49px;
  }

  .QRPopupSNS {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .QRPopupSNSItem {
    cursor: pointer;
    width: 68px;
    height: 68px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 68px;
      height: 68px;
      border-radius: 50%;
      // border: 1px solid #1db6ff;
    }
  }
  .QRPopupCopied {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    text-align: center;
    width: 200px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 14px;
    border-radius: 6px;
    line-height: 30px;
    margin-top: 285px;
    transition: opacity 0.4s ease;
    opacity: 0;
  }
  .QRPopupCopiedShow {
    opacity: 1;
  }

  // PhoneDropDown
  .PhoneDD {
    display: flex;
    margin: 0 auto;
    // position: relative;
    width: 302px;
    // margin-bottom: 70px;
  }
  .PhoneDD__header {
    width: 100%;
    height: 38px;
    margin: 0;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 7px 0 6px 0;
  }

  .PhoneDD__header__on {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .PhoneDD__countryRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    border-right: 1px solid #e3e8f0;
    padding-left: 14px;
    padding-right: 5px;
  }

  .PhoneDD__title {
    font-size: 14px;
    line-height: 1.56;
    color: #606060;
  }
  .PhoneDD__arrow {
    width: 13px;
    height: 13px;
    margin-top: 8px;
    margin-right: 11px;
  }
  .PhoneDD__arrow--on {
    background-image: url("../../../Image/builder/group-17-up.svg");
    background-repeat: no-repeat;
  }
  .PhoneDD__arrow--off {
    background-image: url("../../../Image/builder/group-17.svg");
    background-repeat: no-repeat;
  }

  .PhoneDD__input {
    width: calc(100% - 91px);
    height: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    border: 0;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.56;
    background-color: #ffffff;
    color: var(--W_Black02);
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

  .PhoneDD__body {
    width: 302px;
    position: absolute;
    top: 37px;
    left: 35px;
    background-color: #ffffff;
    border: solid 1px #d8d8d8;

    /* width */
    ::-webkit-scrollbar {
      width: 2px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #2f3443;
      padding-top: 10px;
    }
  }
  .PhoneDD__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 116px;
    overflow-y: auto;
    margin-top: 5px;
  }
  .PhoneDD__item {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -0.22px;
    color: #606060;
    padding-right: 5px;
    padding-left: 8px;
    padding: 4px 8px 4px 5px;
  }
  .PhoneDD__item--on {
    background-color: #d8d8d8;
  }
  .PhoneDD__item:hover {
    background-color: #d8d8d8;
  }
}

@media screen and (max-width: 1079px) {
  .QRPopup {
    width: 100%;
  }
}
