.dreamEditor_editor.dreamEditor_editor-template {
  padding-bottom: 0;
  background-color: #ddd;
  border-radius: 6px;

  .dreamEditor_editor-template_header {
    position: relative;
    padding-left: 18px;
    display: flex;
    height: 54px;
    border-bottom: 3px solid #eee;
    box-sizing: content-box;
  }

  .dreamEditor_editor-template_header_mission {
    display: flex;
    margin: auto 0;
  }
  .dreamEditor_editor-template_header_mission_title {
    font-size: 21px;
    font-weight: bold;
  }
  .dreamEditor_editor-template_header_mission_number {
    margin: auto 0 0 6px;
    font-size: 15px;
  }
  .dreamEditor_editor-template_header_mission_placeholder {
    font-size: 21px;
    font-weight: bold;
    color: #999;
  }

  .dreamEditor_editor-template_header_menu {
    margin-top: auto 0;
    font-size: 16px;
    background-color: transparent;
    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
  .dreamEditor_editor-template_header_menu-delete {
    margin-left: auto;
    color: red;
  }
  .dreamEditor_editor-template_header_menu-add {
    color: #1db6ff;
  }
  .dreamEditor_editor-template_header_menu-prev {
    color: black;
  }
  .dreamEditor_editor-template_header_menu-next {
    color: black;
  }

  .dreamEditor_editor-template_body {
    padding: 12px 18px;
  }

  .dreamEditor_editor_field {
    flex-direction: column;
  }
  .dreamEditor_editor_field_title {
    width: 100%;
    max-width: unset;
  }
  .dreamEditor_editor_field-pId {
    input {
      width: calc(100% - 186px);
    }
    button {
      float: right;
      width: 180px;
      height: 36px;
    }
  }
  .dreamEditor_editor_field-state {
    textarea {
      min-height: 120px;
      resize: vertical;
    }
  }
}
