.scroll-action {
  width:100%;
  max-width:1174px;
  margin:0 auto;
  padding: 0 15px;
}

.scroll-action__wrap {
  display:flex;
  align-items:flex-start;
  position: relative;
  justify-content: space-between;
  margin-bottom: 40px;
}

.scroll-action__left {
  position:sticky;
  top:280px;
  max-width: 560px;
  margin: 115px 20px 0 0;

  img {
    width:42px;
    height:42px;
    display: block;
    margin-bottom: 30px;
  }
}

.scroll-action__title {
  font-size:36px;
  color:#fff;
  line-height:36px;
  font-weight:700;
  display:block;
  margin-bottom: 24px;
  white-space: pre-wrap;
}

.scroll-action__child-title {
  display:block;
  font-size:16px;
  color:#aeaeae;
  font-weight:400;
  line-height:28px;
  white-space:pre-wrap;
}

.scroll-action__right {
  text-align: right;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    display:block;
    max-width: 570px;
  }
}

.scroll-action__img-wrap {
  background-color: #252527;
  border-radius: 20px;
  padding: 54px 20px 0;
  text-align: center;
  margin-bottom: 40px;
  overflow: hidden;

  &.scroll-action__img-wrap--secound {
    img {
      max-width:480px;
      margin:0 auto;
      position:relative;
      top:30px;
    }
  }
}

.scroll-action__img-title {
  display: block;
  font-size: 26px;
  color: #fff;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.scroll-action__img-child-title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: #aeaeae;
  white-space: pre-wrap;
}