.dreamEditor_editor {
  position: relative;
  display: flex;
  padding-bottom: 120px;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;

  .dreamEditor_editor_placeholder {
    margin: auto;
    padding-bottom: 6%;
    color: #999;
  }

  .dreamEditor_editor_header {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 24px;
    height: 60px;
    min-height: 60px;
    background-color: #eeee;
  }
  .dreamEditor_editor_title {
    margin: auto auto auto 0;
    font-size: 21px;
    font-weight: bold;
  }
  .dreamEditor_editor_saveBtn {
    margin: auto 0;
    padding: 9px 90px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1db6ff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  .dreamEditor_editor_deleteBtn {
    margin: auto 0;
    margin-right: 20px;
    padding: 9px 75px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(236, 68, 68);
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }

  .dreamEditor_editor_fields {
    padding: 0 24px;
  }
}
