.Page--OCP {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #151516;
  top: -45px;
  position: relative;
  .section {
    width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* section - banner */
  .section--banner {
    position: relative;
    height: 425px;
    width: 100%;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
      object-fit: cover;
    }
    .banner__img__wrapper {
      position: absolute;
      height: 100%;
      width: 1418px;
      max-width: 100%;
      transform: translateX(-50%);
      left: 50%;
    }
    .banner__img {
      height: 100%;
    }
    .banner__bg {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
    }
    .banner__title__ocp {
      width: 298px;
      height: 257px;
      margin-top: 75px;
    }
    .banner__title__sef {
      width: 435px;
      height: 188px;
      margin-top: 75px;
    }
    .banner__logo {
      width: 90px;
      height: 28px;
      position: absolute;
      top: 63px;
      left: 55px;
    }

    .banner__participation {
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      margin: 0 auto;
      width: 486px;

      div {
        width: 233px;
        line-height: 44px;
        text-align: center;
        border-radius: 22px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #262626;
        background-color: #0e0e0e;
        font-size: 18px;
        font-weight: bold;
        span {
          color: #ffde00;
        }
      }
    }
  }

  /* section - desc */
  .section--desc {
    margin-top: 30px;
    .desc__title {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.53;
      letter-spacing: -0.89px;
      text-align: center;
      color: #fcfcfc;
      span {
        color: #ffdd00;
      }
    }
  }

  // section rewards
  .section--rewards {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .section--rewards--item {
      color: #ffffff;
      position: relative;
      width: 428px;
      height: 150px;
      border-radius: 8px;
      box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.5);
      border: solid 1.1px #262626;
      background-color: #19191a;
      display: flex;
      padding: 25px 22px;
      overflow: hidden;
      margin-right: 20px;
      margin-left: 20px;
    }
    .section--rewards--item--num {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 28px;
      line-height: 28px;
      border-radius: 14px;
      text-align: center;
      color: #000;
      background-color: #ffdc00;
    }
    .section--rewards--item--img {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .section--rewards--item--info {
      margin-left: 34px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .section--rewards--item--title {
      margin-top: 6px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.1em;
    }
    .section--rewards--item--subtitle {
      margin-bottom: 7px;
      font-size: 18px;
      font-weight: 300;
    }
  }

  /* section - mission */
  .section--mission {
    position: relative;
    margin: 50px 0;
    color: #ffffff;

    h3 {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.53;
      letter-spacing: -0.89px;
    }
    .section--mission--subtitle {
      height: 44px;
      position: relative;
      h5 {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 2.45;
        letter-spacing: -1.29px;
        color: #e0e0e0;
      }
      width: 100%;
    }

    .download__container {
      position: absolute;
      right: 0;
      top: 0;
      width: 171px;
      height: 44px;
      border-radius: 22px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px #262626;
      background-color: #19191a;
      display: flex;
      align-items: center;
      justify-content: center;

      .download {
        text-decoration: none;
        font-size: 16px;
        color: #ffffff;
      }
      img {
        width: 18px;
        height: 18px;
        margin-left: 10px;
      }
    }
    .mission__container {
      display: flex;
      margin-top: 28px;
      width: 100%;
      justify-content: space-between;
    }
    .mission__clear {
      position: absolute;
      width: 100%;
      top: 93px;
    }
    .mission__item {
      border-radius: 20px 20px 15px 15px;
      overflow: hidden;
      position: relative;
      // border: solid 1px#262626;
      // border: solid 1px#f90;
      border-left: solid 1px#262626;
      border-right: solid 1px#262626;
      border-bottom: solid 1px#262626;
      background-color: #19191a;
      box-sizing: border-box;
      .img {
        width: 347px;
        height: 253px;
        border-radius: 15px;
        display: block;
      }
      .bottom--text {
        text-align: center;
      }
      .bottom--text--level {
        position: absolute;
        top: 20px;
        right: 26px;
        width: 75px;
        line-height: 40px;
        border-radius: 22px;
        border: solid 1px #262626;
        background-color: #19191a;
        font-size: 16px;
        font-weight: bold;
        color: #fcfcfc;
      }

      .bottom--text--title {
        margin-top: 30px;
        font-size: 22px;
        color: #ffffff;
      }

      .bottom--text--target {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.61;
        letter-spacing: -0.56px;
        text-align: left;
        color: #7c7c7e;
        margin-top: 6px;
        margin-left: 24px;
      }
      .bottom--link {
        margin: 30px 0;
        display: flex;
        justify-content: center;
      }
      .link--url {
        width: 150px;
        line-height: 44px;
        object-fit: contain;
        border-radius: 22px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #ffde00;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #19191a;
      }
    }
  }

  .section--creator {
    width: 1080px;
    border-radius: 8px;
    background-color: #ffdf00;
    position: relative;
    .section--creator--wrapper {
      position: relative;
      width: 100%;
      .section--creator--img-pc {
        width: 1014px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      .section--creator--img-m {
        display: none;
      }
      .section--creator--img-pc-click {
        position: absolute;
        top: 340px;
        left: 390px;
        width: 308px;
        height: 60px;
        cursor: pointer;
        display: none;
        // border: 1px solid red;
      }
    }
    .deco_compass {
      display: block;
      width: 270px;
      position: absolute;
      top: 0;
      left: 20px;
    }
    .deco_card {
      display: block;
      width: 185px;
      position: absolute;
      top: 43px;
      right: 58px;
    }
    .section--creator--title {
      width: 478px;
      display: block;
      margin: 0 auto;
      margin-top: 47px;
    }
    .section--creator--title--mobile {
      display: none;
    }
    .section--creator--desc {
      margin-top: 11px;
      text-align: center;
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: -1.16px;
      color: #151516;
    }
    .section--creator--desc2 {
      font-size: 18px;
      letter-spacing: -0.5px;
      text-align: center;
      color: #151516;
      display: flex;
      justify-content: center;
      p {
        margin-top: 18px;
      }
      p:nth-child(1) {
        margin-right: 20px;
      }
    }
    .section--creator--join {
      cursor: pointer;
      margin: 0 auto;
      margin-top: 26px;
      color: white;
      width: 280px;
      line-height: 53px;
      text-align: center;
      object-fit: contain;
      border-radius: 26.4px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      border: solid 1.2px #19191a;
      background-color: #151516;
      font-size: 24px;
      font-weight: bold;
    }

    .section--creator--parts {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .section--creator--part {
      margin-bottom: 45px;
    }
    .section--creator--part1 {
      margin-left: 46px;
    }
    .section--creator--part2 {
      margin-right: 46px;
    }
    .section--creator--part--title {
      height: 26px;
      display: block;
      margin: 0 auto;
      margin-top: 33px;
      margin-bottom: 5px;
    }
    .section--creator--part--desc {
      line-height: 33px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.83;
      letter-spacing: -1.16px;
      text-align: center;
      color: #151516;
    }
    .section--creator--part--rewards {
      display: flex;
      flex-direction: row;
    }
    .section--creator--part--reward--item {
      width: 165px;
    }
    .section--creator--part--reward--item--icon {
      display: block;
      width: 165px;
    }
    .section--creator--part--reward--item--title {
      line-height: 27px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 6px;
      color: #151516;
    }
    .section--creator--part--reward--item--subtitle {
      font-size: 16px;
      line-height: 1.56;
      text-align: center;
      color: #151516;
    }
  }

  /* section - games */
  .section--games {
    color: #fff;
    .GameHeader {
      margin-top: 45px;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .GameMore {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      p {
        letter-spacing: -1.29px;
        font-size: 20px;
        color: #ffffff;
        margin-right: 10px;
      }
      img {
        margin-bottom: 3px;
        margin-left: 5px;
      }
    }

    .GameTitle {
      display: inline;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.53;
      letter-spacing: -0.89px;
      text-align: center;
      color: #fcfcfc;
    }

    .GameItems {
      // min-height: 750px;
      margin-top: 28px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .GameItem {
      width: 142px;
      margin-bottom: 21px;
      position: relative;
    }

    .section--game--rank {
      width: 30px;
      line-height: 32px;
      border-radius: 0 0 7px 7px;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffde00;
      font-size: 15px;
      font-weight: bold;
      color: #151516;
      letter-spacing: -0.97px;
      text-align: center;
      position: absolute;
      top: 0;
      right: 9px;
    }
  }

  .section--read {
    width: 1080px;
    padding: 19px;
    font-size: 14px;
    color: white;
    align-items: flex-start;
    line-height: 1.56;

    .section--read-title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 10px;
    }
  }

  .wizlive_banner {
    margin-top: 20px;
    width: 1080px;
    img {
      width: 100%;
      display: block;
    }
  }

  @media screen and (max-width: 1079px) {
    top: -70px;
    .section {
      width: 100%;
    }

    /* section - banner */
    .section--banner {
      height: 485px;
      .banner__img__wrapper {
        width: 100%;
      }
      .banner__participation {
        flex-direction: column;
        width: 100%;

        div {
          margin: 0;
          margin-bottom: 8px;
        }
      }
      .banner__title__ocp {
        height: auto;
        max-width: 90%;
      }
      .banner__title__sef {
        height: auto;
        max-width: 90%;
        margin-top: 130px;
      }
    }

    /* section - desc */
    .section--desc {
      display: none;
    }

    // section rewards
    .section--rewards {
      display: none;
    }

    /* section - mission */
    .section--mission {
      position: relative;
      margin: 50px 0;
      color: #ffffff;

      h3 {
        font-size: 32px;
        font-weight: bold;
        line-height: 1.53;
        letter-spacing: -0.89px;
      }
      .section--mission--subtitle {
        height: auto;
        padding: 0 30px;
        margin-top: 20px;
        h5 {
          line-height: 1.4;
          letter-spacing: -1.29px;
        }
      }

      .download__container {
        position: unset;
        margin: 0 auto;
        margin-top: 20px;
      }
      .mission__container {
        display: flex;
        flex-direction: column;
      }
      .mission__item {
        margin: 0 6px;
        margin-bottom: 43px;
        .img {
          width: 100%;
          height: auto;
        }
      }
    }

    .section--creator {
      border-radius: 0;
      .section--creator--wrapper {
        .section--creator--img-pc {
          display: none;
        }
        .section--creator--img-m {
          display: block;
          margin: 0 20px;
          margin-top: 30px;
          margin-bottom: 60px;
          width: calc(100% - 40px);
        }
        .section--creator--img-pc-click {
          display: none;
        }
      }
      .deco_compass {
        display: none;
      }
      .deco_card {
        display: none;
      }
      .section--creator--title {
        display: none;
      }
      .section--creator--title--mobile {
        display: block;
        margin: 0 auto;
        margin-top: 47px;
        width: 275px;
        max-width: 90%;
      }
      .section--creator--desc {
        font-size: 12px;
      }
      .section--creator--desc2 {
        display: block;
        p {
          margin: 0 auto;
          color: #ffdc00;
          background: #0e0e0e;
          border-radius: 19px;
          width: 209px;
          line-height: 38px;
          font-size: 13px;
        }
        p:nth-child(1) {
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 12px;
        }
      }
      .section--creator--join {
        display: none;
      }

      .section--creator--parts {
        flex-direction: column;
      }
      .section--creator--part {
      }
      .section--creator--part1 {
        margin-left: 0;
      }
      .section--creator--part2 {
        margin-right: 0;
      }
      .section--creator--part--title {
        height: 26px;
        display: block;
        margin: 0 auto;
        margin-top: 33px;
        margin-bottom: 5px;
      }
      .section--creator--part--desc {
        line-height: 33px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.83;
        letter-spacing: -1.16px;
        text-align: center;
        color: #151516;
      }
      .section--creator--part--rewards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 10px;
      }
      .section--creator--part--reward--item {
        width: 32%;
        margin-right: 12px;
      }
      .section--creator--part--reward--item--icon {
        width: 100%;
      }
      .section--creator--part--reward--item--title {
        font-size: 11.3px;
      }
      .section--creator--part--reward--item--subtitle {
        font-size: 11.3px;
      }
    }

    /* section - games */
    .section--games {
      width: calc(100% - 18px);
      .GameHeader {
      }

      .GameMore {
      }

      .GameTitle {
      }

      .GameItems {
      }
      .GameItem {
        width: 49%;
      }
    }

    .wizlive_banner {
      width: 100%;
    }
  }
}
