.vc_navigation {
  z-index: 300;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: -100vw;
  top: 0;
  width: 100vw;
  height: calc(100vh - 100px);
  transition: background 0.3s;
  .vc_navigation_content {
    width: 640px;
    background: #393e4f;
    height: 100%;
    transform: translateX(-640px);
    transition: transform 0.5s;
    padding: 27px 0;
    overflow-y: scroll;
  }
  .vc_navigation_close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .vc_navigation_empty {
    position: absolute;
    width: calc(100vw - 640px);
    top: 0;
    right: 0;
    height: 100%;
  }
  .vc_navigation_step_name {
    margin: 0 36px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.45;
    color: #ffffff;
    padding-bottom: 12px;
    margin-top: 29px;
    border-bottom: 1px solid #2f3443;
    span {
      width: 72px;
      line-height: 25px;
      font-size: 15px;
      font-weight: bold;
      color: #1db6ff;
      margin-left: 21px;
      border-radius: 4px;
      border: solid 2px #1db6ff;
      padding: 3px 7px 5px 6px;
      position: relative;
      top: -2px;
    }
  }
  .vc_navigation_mission {
    line-height: 45px;
    border-bottom: 1px solid #2f3443;
    width: 215px;
    font-size: 17px;
    color: #ffffff;
    width: calc(100% - 38px);
    padding: 0 29px;
    margin-left: 19px;
    span {
      font-size: 17px;
      font-weight: bold;
      color: #afafaf;
      margin-right: 25px;
    }
    img {
      display: block;
      margin-top: 12px;
      float: right;
    }
  }
  .vc_navigation_mission_current {
    border-radius: 11px;
    background-color: #2f3443;
  }
}
.vc_navigation_on {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  .vc_navigation_content {
    transform: translateX(0);
  }

  .vc_navigation_wizclass {
    .vc_navigation_header {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 38px);
      margin-left: 19px;
      align-items: center;
    }
    .vc_navigation_layers {
      font-size: 15px;
      font-weight: 500;
      color: #ffffff;
      white-space: pre-wrap;
    }
    .vc_navigation_back,
    .close__header {
      cursor: pointer;
    }
    .vc_navigation_title {
      font-size: 25px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.28;
      letter-spacing: normal;
      color: #ffffff;
      margin-top: 33px;
      margin-left: 36px;
    }
  }
}
