.Page--Intro {

  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;

  .intro__section-banner {
    position: relative;

    .intro-banner {
      position: relative;
      left: 50%;
      padding-top: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height : 100%;
      background: url("../../Image/intro-top-banner-new.png") no-repeat center/cover;

      @media only screen and (max-width: 1334px){
        background: url("../../Image/intro-top-banner-new.png") no-repeat center/cover;
      }
    }
  }



  .first-section {
    width: 100%;
    max-width: 1170px;
    padding:0 15px;
    margin: 0 auto;
    
    .first-section__header {
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
      display: block;
      text-align: center;
    }
    .first-section__body {
      white-space: pre-wrap;
      line-height: 32px;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .first-section--intro {
    margin: 50px 0 60px;

    .first-section__header {
      margin-bottom: 20px;
    }
  }

  .first-section__video-wrap {
    margin: 60px auto 58px;
    border-radius: 20px;
    height: 545px;
    width:100%;
    background-color: #515151;
    max-width: 970px;
  }

  .first-section__video {
    position: relative;
    width:100%;
    height:100%;
  }

  .first-section__play-btn {
    width:74px;
    height:74px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:10;
    background-color:transparent;
    border:0;
    background-image: url(../../Image/btn_play.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
  }

  .second-section {
    width:100%;
    background-color:linear-gradient(180deg, rgba(33, 33, 35, 0) 0%, #212123 100%);
    padding: 70px 15px ;
  }

  .second-section__inner {
    width:100%;
    max-width:1170px;
    margin:0 auto;

  }

  .second-section__header {
    font-size:40px;
    color:#fff;
    font-weight: 700;
    line-height: 56px;
    display: block;
    text-align: center;
    margin: 0 0 12px;
    white-space: pre-wrap;
  }

  .second-section__visual-img {
    width:425px;
    margin:0 auto 18px;
    object-fit: cover;
    display: block;
  }

  .second-section__mission-info-list {
    display:flex;
    align-items: center;
    list-style:none;
    padding:0;
    margin:0;
    justify-content: center;
  }

  .second-section__mission-list-item {
    flex: 0 0 33%;
    text-align: center;

    img {
      width:50px;
      margin:0 auto 18px;
      display: block;
    }
  }

  .second-section__mission-title {
    font-size:30px;
    line-height:30px;
    font-weight:700;
    color:#fff;
    display:block;
    margin:0 0 16px;
  }

  .second-section__mission-explain {
    font-size:16px;
    color: #8e8e8e;
    font-weight:500;
    line-height: 26px;
    display: block;
    white-space: pre-wrap;
  }
}