.Page--Intro {

  display: flex;
  flex-direction: column;
  color: #FFFFFF;

  .intro__section-banner {
    position: relative;

    .intro-banner {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height : 100%;
      background: url("../../Image/img-intro-banner-BG.png") no-repeat center/cover;
      height: 603px;
      text-align: center;

      @media only screen and (max-width: 1334px){
        background: url("../../Image/img-intro-banner-BG.png") no-repeat center/cover;
      }

      >img {
        height: 100%;
        max-height: 432px;
        object-fit: cover;
        position: absolute;
        bottom: -65px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }



  .first-section {
    width: 100%;
    max-width: 1170px;
    padding:0 15px;
    margin: 0 auto;
  }
  .first-section__header {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    display: block;
    text-align: center;
    padding-top: 115px;
  }
  .first-section__body {
    white-space: pre-wrap;
    line-height: 32px;
    font-size: 20px;
    font-weight: 400;
  }

  .first-section--intro {
    margin: 50px 0 60px;

    .first-section__header {
      margin-bottom: 20px;
    }
  }

  .first-section__video-wrap {
    margin: 60px auto 58px;
    border-radius: 20px;
    height: 100%;
    max-height: 545px;
    width:100%;
    max-width: 970px;
  }

  .first-section__video {
    position: relative;
    width:100%;
    height:100%;
    border-radius: 20px;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
    }
  }

  .second-section {
    width:100%;
    background-color:linear-gradient(180deg, rgba(33, 33, 35, 0) 0%, #212123 100%);
    padding: 70px 15px ;
    max-width:1170px;
    margin:0 auto;
  }

  .second-section__header {
    font-size:40px;
    color:#fff;
    font-weight: 800;
    line-height: 56px;
    display: block;
    text-align: center;
    margin: 0 0 12px;
    white-space: pre-wrap;
  }

  .second-section__visual-img {
    width:425px;
    margin:0 auto 18px;
    object-fit: cover;
    display: block;
  }

  .second-section__mission-info-list {
    display:flex;
    align-items: flex-start;
    list-style:none;
    padding:0;
    margin:0;
    justify-content: center;
  }

  .second-section__mission-list-item {
    flex: 0 0 33%;
    text-align: center;

    img {
      width:50px;
      margin:0 auto 18px;
      display: block;
    }
  }

  .second-section__mission-title {
    font-size:30px;
    line-height:30px;
    font-weight:700;
    color:#fff;
    display:block;
    margin:0 0 16px;
  }

  .second-section__mission-explain {
    font-size:16px;
    color: #8e8e8e;
    font-weight:500;
    line-height: 26px;
    display: block;
    white-space: pre-wrap;
  }

  .intro-page__fade-in-text {
    padding: 193px 0;
    position:relative;
    display:flex;
    margin:0 auto;

    img {
      height: 182px;
      display:block;
    }

    &.intro-page__fade-in-text--second {
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.intro__top-scroll {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background-color: #272727;
  box-shadow: 0px 0px 14px rgba(12, 12, 13, 0.3);
  position: fixed;
  z-index: 100;
  right: 30px;
  border: 0;
  bottom: 26px;
  cursor: pointer;
}

.intro__contact-btn {
  box-shadow: 0px 0px 14px rgba(12, 12, 13, 0.3);
  border-radius: 100px;
  padding: 16px 33px;
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #5E35FF;
  position: fixed;
  bottom: 26px;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  z-index: 100;
  cursor: pointer;
  display: none;

  img {
    width: 24px;
    object-fit: cover;
    margin-right: 12px;
  }
}

.intro-banner__title-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 56px;
  width: 100%;
}

.intro-banner__title {
  display: block;
  font-size: 40px;
  color: #fff;
  line-height: 56px;
  font-weight: 800;
  margin-bottom: 14px;
}

.intro-banner__child-title {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-weight: 500;
  white-space: pre-wrap;
}

@media screen and (max-width:768px) {
  .intro-page__fade-in-img {
    width: 100%;
    object-fit: contain;
  }
}