.Page--JJ {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .JJ--Inner {
    width: 1080px;
    color: #fff;
  }

  //search
  .Search__highlight {
    color: #ffdc00;
  }
  .JJ-search-empty {
    text-align: center;
    font-size: 20px;
  }
  .JJ_Search {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .JJ_SearchWrap {
    width: 318px;
    height: 55px;
    background: #000000;
    border-radius: 28px;
    border: solid 1px #262626;
    position: relative;
  }
  .JJ_SearchInput {
    position: absolute;
    left: 5%;
    top: 0;
    width: 75%;
    height: 100%;
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
  }
  .JJ_SearchInput:focus {
  }
  .JJ_SearchIcon {
    position: absolute;
    right: 25px;
    top: 17px;
    width: 26px;
    height: 26px;
    // cursor: pointer;
  }

  // banner
  .JJ_MainBanner {
    width: 100%;
    position: relative;
  }
  .JJ_MainBannerPC {
    display: block;
    width: 100%;
    height: auto;
  }
  .JJ_MainBannerMobile {
    display: none;
  }

  //games
  .JJ-games {
    color: #fff;
    .GameHeader {
      margin-top: 45px;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .GameTitle {
      display: inline;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.53;
      letter-spacing: -0.89px;
      text-align: center;
      color: #fcfcfc;
    }

    .GameItems {
      margin-top: 28px;
      width: 100%;
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: space-between;
    }
    .GameItem {
      display: inline-block;
      width: 143px;
      margin-right: 11px;
      margin-bottom: 21px;
      position: relative;
    }
    .GameMore {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1079px) {
  .Page--JJ {
    .JJ--Inner {
      width: 96%;
    }
    .JJ_SearchWrap {
      width: 100%;
    }
    .JJ_MainBannerPC {
      display: none;
    }
    .JJ_MainBannerMobile {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 7px;
    }

    .GameItems {
      .GameItem {
        width: 49%;
        margin-left: 0;
        margin-right: 1%;
      }
    }
  }
}
