.dreamEditor {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
  user-select: none;
  -webkit-user-drag: none;

  section {
  }
  section:nth-of-type(1) {
    min-width: 420px;
    color: white;
    background-color: #444;
  }
  section:nth-of-type(2) {
    flex: 1;
    background-color: #eee;
  }
}
