.info__more {
  position: relative;
  margin-top: 5px;
  cursor: pointer;
  width: 20px;
  display: flex;
  justify-content: center;

  .ProjectItem__Tools {
    background: var(--W_White);
    position: absolute;
    display: none;
    border-radius: 5px;
    color: var(--W_Gray03);
    box-shadow: 0 2px 4px 0 var(--W_Gray01);
    width: 99px;
    height: 126px;
    z-index: 10;
    padding-top: 19px;
  }

  .ProjectItem__Tools__on {
    display: block;
  }

  .ProjectItem__Tool {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.24px;
    display: flex;
    margin-bottom: 17px;
    margin-left: 23px;
    img {
      margin-right: 10px;
    }
  }
}
