.Page--OCP2--event {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #151516;
  position: relative;
  background-color: #2b183d;
  .event--pc {
    display: block;
  }
  .event--mobile {
    display: none;
  }
  .more {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .more__img {
    cursor: pointer;
  }
  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    .section__inner {
      background-color: white;
      width: 1020px;
      padding: 25px;
    }
    .section__title {
      // font-family: NotoSansKR;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.44px;
      color: #000000;
      text-align: left;
    }
  }

  .section--gift {
    position: relative;
    img {
      max-width: 1080px;
    }
    .btn {
      background-color: none;
      position: absolute;
    }
    .btn__builder {
      width: 483px;
      height: 75px;
      bottom: 163px;
      right: calc(50% - 239px);
      cursor: pointer;
    }
    .btn__season1 {
      width: 165px;
      height: 33px;
      bottom: 120px;
      right: calc(50% - 80px);
    }
  }

  .section--info {
    position: relative;
    img {
      max-width: 1080px;
    }
  }
  .section--banner {
    position: relative;
    img {
      width: 100%;
      height: 200px;
    }
  }
  .tab {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -13px;
  }
  .tab__item {
    cursor: pointer;
    padding-right: 13px;
    padding-left: 13px;
    border-right: solid 1px #979797;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -0.28px;
    text-align: center;
    color: #4b4b4b;
  }
  .tab__item:last-child {
    border-right: none;
  }

  .tab--active--on {
    font-weight: 500;
    color: #000000;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    width: 990px;
    margin-left: -10px;
  }
  .projects__item {
    width: 180px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 35px;
    .item__img {
      width: 180px;
      height: 180px;
      border-radius: 4px;
      object-fit: cover;
    }
    .item__row1 {
      display: flex;
      margin-bottom: 5px;
    }
    .user__icon {
      border-radius: 50%;
      object-fit: cover;
      margin-right: 6px;
      width: 22px;
      height: 22px;
    }
    .user__name {
      font-size: 15px;
      letter-spacing: -0.28px;
      color: #afafaf;
      margin-left: 28px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 28px);
    }
    .item__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -0.28px;
      color: #000000;
    }
    .item__row3 {
      font-size: 12px;
      letter-spacing: -0.22px;
      color: #afafaf;
      display: flex;
      width: calc(100% - 24px);
      margin-left: 24px;
      margin-top: 7px;
      span {
        position: relative;
        margin-left: 24px;
      }

      .like::after,
      .view::after,
      .comment::after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 4px;
        left: -15px;
        background: url("../../../../Image/icon-like.svg") no-repeat
          center/cover;
      }
      .view::after {
        background: url("../../../../Image/icon-view.svg") no-repeat
          center/cover;
      }

      .comment::after {
        background: url("../../../../Image/icon-comment.svg") no-repeat
          center/cover;
        filter: invert(32%) sepia(0%) saturate(380%) hue-rotate(177deg)
          brightness(89%);
      }
    }
  }

  @media screen and (max-width: 1079px) {
    .event--pc {
      display: none;
    }
    .event--mobile {
      display: block;
      width: 100vw;
    }

    .section {
      min-height: inherit;
      width: 100%;
      img {
        width: 100%;
      }
      .section__inner {
        width: 94.7%;
        margin-left: -0.3%;
      }
      .section__title {
        font-size: 18px;
        letter-spacing: -0.33px;
      }
    }

    .section--gift {
      position: relative;
      img {
        max-width: 100%;
      }
      .btn {
        background-color: none;
        position: absolute;
      }
      .btn__builder {
        width: 71%;
        height: 2%;
        bottom: 5.2%;
        right: 15%;
      }
      .btn__season1 {
        width: 42%;
        height: 1%;
        bottom: 4%;
        right: 30%;
      }
    }

    .section--info {
      position: relative;
      img {
        max-width: 100%;
      }
    }

    .section--banner {
      img {
        width: 100%;
        height: initial;
      }
    }

    .tab__item {
      font-size: 14px;
    }
    .projects {
      width: 100%;
      justify-content: space-evenly;
    }
    .projects {
      margin-left: 0;
    }
    .projects__item {
      width: calc(40vw);
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 35px;
      .item__img {
        width: 100%;
        height: 35vw;
      }
    }

    .more {
      img {
        width: initial;
      }
    }
  }
}
