.dream_wizmate {
  position: absolute;
}
.dream_wizmate-onEditor {
  bottom: 12px;
  left: calc(35% + 161px + 12px);
}
.dream_wizmate-onGame {
  bottom: 12px;
  left: 12px;
}
.dream_wizmate-onPlayButton {
  top: 30px;
  right: 78px;
}
