.Page--BUILDER {
  .Live {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--W_White);
  }

  //title line
  .LiveTitleLine {
    line-height: 38px;
    display: flex;
    border-bottom: 1px solid var(--W_Gray01);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: var(--W_Gray03);
  }
  .LiveTitle {
    margin-left: 30px;
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .LiveClose {
    display: block;
    cursor: pointer;
    width: 30px;
    text-align: center;
    margin-right: 10px;
  }

  //content
  .LiveContent {
    height: calc(100% - 38px);
    background: var(--W_Gray03);
    position: relative;
  }
  .ExitButton {
    width: 150px;
    height: 26px;
    border-radius: 13px;
    background-color: var(--W_PointColor);
    border: none;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
    display: block;
    cursor: pointer;
  }

  .SmsButton {
    cursor: pointer;
    border: none;
    width: 25px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--W_Gray01);
    background-image: url("../../../../Image/message-icon.svg");
    display: block;
    margin-left: 8px;
  }

  .DeviceHanleButton {
    cursor: pointer;
    border: none;
    width: 25px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--W_Gray01);
    background-image: url("../../../../Image/message-icon.svg");
    display: block;
    margin-left: 8px;
  }

  .DeviceHanleButton:focus,
  .SmsButton:focus,
  .ExitButton:focus {
    outline: none;
  }

  .Timer {
    margin-right: 8px;
  }

  .controller {
    width: auto;
    height: 100%;
    position: absolute;
    left: 24px;
    top: 0px;
    padding-top: 34px;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .controllBtn {
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
    background-color: var(--W_Gray03);
    border: 0;

    cursor: pointer;
    outline: none;
    vertical-align: middle;
    -webkit-appearance: none;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .controllBtn:last-child {
    margin-bottom: 0;
  }
  .controllBtn--myscreen {
    background-image: url("../../../../Image/screen-hide.svg");
  }

  .controllBtn--mic--on {
    background-image: url("../../../../Image/round-mic-on.svg");
  }
  .controllBtn--mic--off {
    background-image: url("../../../../Image/round-mic-off.svg");
  }
  .controllBtn--video {
    background-image: url("../../../../Image/live-toggle.svg");
  }
  .controllBtn--drawing {
    background-image: url("../../../../Image/round-drawing.svg");
  }
  .controllBtn--lectureVideo {
    background-image: url("../../../../Image/video-icon.svg");
  }
  .controllBtn--lectureSlide {
    background-image: url("../../../../Image/picture-add-pdf.svg");
  }

  .LoadingBlock {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
    left: 0;
    top: 37%;
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .LoadingBlock__msg {
    text-align: center;
    font-size: 14px;
    color: var(--W_White);
    white-space: nowrap;
  }

  .LiveContentVideo {
    height: 50%;
    video {
      background: #000000;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scaleX(-1);
    }
  }

  .PoorNetwork {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    text-align: center;
  }
  .PoorNetworkText {
    margin: 0 auto;
    width: 300px;
    padding: 3px;
    background: var(--W_Dim);
    color: #ffffff;
  }
}
