.builder3d {
  .leftbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #2f3443;
    pointer-events: auto;
    user-select: none;
    -webkit-user-drag: none;
  }

  .leftbar_tabs {
    display: flex;
    padding: calc(6.48vh * 0.28);
    padding-bottom: 0;
    width: 100%;
    height: 6.48vh;
    min-height: 50px;
    max-height: 70px;
    background-color: #1e222d;
  }
  .leftbar_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #dfdfe2;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
  }
  .leftbar_tab_icon {
    width: 2.96vh;
    min-width: 32px;
    height: 2.96vh;
    min-height: 32px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .leftbar_tab_title {
    font-size: 18px;
    font-weight: bold;
  }
  .leftbar_tab-selected {
    background-color: #2f3443;
    pointer-events: none;
    cursor: default;
  }

  .leftbar_body {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
}
