.project-banner-wrap {
  display: flex;
  align-items: flex-start;
}

.project-banner {
  padding: 60px 15px 0;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  letter-spacing: -0.01em;
  display: block;
  margin-bottom: 62px;
  text-align: center;
  width: 100%;
}

.page-title--child {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
  display: block;
  margin-bottom: 16px;
}