.signup {
  width: 490px;
  text-align: center;
  .signup__padding {
    padding: 0 36px;
  }
  .signup_title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 18px;
  }

  .signup_input_wrapper {
    display: flex;
    margin-top: 20px;
  }
  .signup_input_wrapper:nth-child(2),
  .signup_input_wrapper:nth-child(4),
  .signup_input_wrapper:nth-child(7),
  .signup_input_wrapper:nth-child(9) {
    margin-top: 40px;
  }
  .signup_input_title {
    display: flex;
    margin: auto;
    margin-left: 0;
    font-size: 18px;
    font-weight: bold;
  }
  .signup_input_title_dot {
    margin-top: 0;
    margin-left: 3px;
    font-size: 12px;
  }
  .signup_phone_warpper {
    display: flex;
  }
  .signup_phone {
    display: flex;
    margin-left: auto;
    border: solid 1px #3f3f3f;
    position: relative;
  }
  .signup_phone-warning {
    border: solid 1px #ff0c0c;
  }

  .popup_input {
    width: 274px;
    height: initial;
  }
  .popup_input-phone {
    margin-left: 0;
    width: 150px;
    border: none;
  }
  .popup_input-phone:-webkit-autofill,
  .popup_input-phone:-webkit-autofill:hover,
  .popup_input-phone:-webkit-autofill:focus {
    border: none;
  }
  .popup_input-smscode,
  .popup_input-recommendCode {
    width: 200px;
    border: none;
  }
  .popup_button {
    margin-top: 50px;
    width: 279px;
    height: 54px;
  }
  .popup_button-phone {
    margin: 0;
    width: 74px;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    border: none;
  }
  .popup_button-smscode,
  .popup_button-recommendCode {
    margin: 0;
    width: 74px;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    border: none;
  }
  .popup_button-complete {
    background-color: #7d8fad;
    cursor: default;
  }
  .popup_button-complete:hover {
    opacity: 1;
  }
  .popup_warning {
    margin-top: 0px;
    margin-left: auto;
    padding-top: 6px;
    width: 304px;
    height: 0;
  }
  .popup_warning-agreement {
    margin-left: 0;
  }

  .select {
    margin-left: auto;
    border: none;
  }
  .select_input {
    color: #fff;
    border: none;
    font-size: 14px;
    background-color: #191a25;
    width: 50px;
  }
  .select_fields {
    left: -1px;
    margin-top: 6px;
    background-color: #191a25;
    border: solid 0.5px #3f3f3f;
    border-radius: 0;
    -ms-overflow-style: none;
    width: 274px;
  }
  .select_field {
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .select_field:hover {
    background-color: #191a25;
    opacity: 0.5;
  }

  .signup_agreements {
    margin-top: 40px;
  }
  .signup_agreement {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    height: 20px;
  }
  .signup_agreement:last-of-type {
    margin-bottom: 6px;
  }
  .signup_agreement_box {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    cursor: pointer;
  }
  .signup_agreement_box-warning {
    border: solid 1px #ff0c0c;
  }
  .signup_agreement_box_inner {
    margin: auto;
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  .signup_agreement_title {
    margin-left: 13px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .signup_agreement_arrow {
    margin: auto 0;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .signup_msg {
    margin-top: 30px;
    font-size: 16px;
    white-space: pre-wrap;
    color: #aaa;
  }

  .signup_link_wrapper {
    display: flex;
    margin-top: 20px;
  }
  .signup_link_desc {
    margin-left: auto;
    font-size: 16px;
    color: #aaa;
  }
  .signup_link {
    margin-right: auto;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }

  .signup_recaptch {
    display: inline-flex;
    margin-top: 12px;
    transform: scale(0.9);
    border-radius: 3px;
  }
  .signup_recaptch-warning {
    border: 1px solid #ff0c0c;
  }
  .popup_button-singup {
    margin-top: 12px;
  }

  // PhoneDropDown
  .PhoneDD__input {
    display: none;
  }

  .PhoneDD {
    display: flex;
    margin: 0 auto;
    position: relative;
    // width: 302px;
  }
  .PhoneDD__countryRow {
    border: solid 1px #3f3f3f;
    border-right: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
  .PhoneDD__body {
    position: absolute;
    top: 37px;
    border: solid 1px #3f3f3f;
    z-index: 10;
    background-color: #191a25;
    width: 276px;
  }
  .PhoneDD__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
  }

  .PhoneDD__item {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -0.22px;
    padding-right: 5px;
    padding-left: 8px;
    padding: 4px 8px 4px 5px;
  }
  .PhoneDD__arrow {
    display: none;
  }
  .PhoneDD__item:hover {
    background-color: #13141d;
  }
}

.agreement {
  width: 396px;
  text-align: center;

  .agreement_text {
    margin: 30px -24px 0 -24px;
    padding: 12px 18px 24px 18px;
    height: 396px;
    white-space: pre-wrap;
    text-align: left;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .agreement_text-agreed_terms {
    height: 540px;
  }
  .agreement_text ul {
    padding-left: 24px;
  }
  .agreement_text li {
    padding-top: 6px;
  }
  .agreement_title {
    font-size: 24px;
    font-weight: bold;
  }
  .popup_button {
    margin-top: 30px;
    width: 279px;
    height: 54px;
  }
}

@media screen and (max-width: 1079px) {
  .agreement {
    margin: 0 auto;
    width: 280px;

    .agreement_text-agreed_terms {
      height: 396px;
    }
    .agreement_title {
      font-size: 22px;
    }
  }

  .signup {
    margin: 0 auto;
    padding: 0;
    width: 320px;

    .signup__padding {
      padding: 0;
    }
    .signup_input_wrapper {
      display: block;
    }
    .popup_input {
      margin-top: 10px;
      width: 100%;
    }
    .popup_warning {
      margin: 0;
    }

    .signup_phone_warpper {
      margin-top: 10px;
    }

    .signup_phone {
      width: 100%;
    }

    .PhoneDD__body {
      width: 320px;
    }

    .select {
      min-width: 50px;
    }
    .popup_input-phone {
      margin-top: 0;
    }
    .popup_input-smscode,
    .popup_input-recommendCode {
      margin-top: 0;
    }
    .popup_button-phone,
    .popup_button-smscode,
    .popup_button-recommendCode {
      min-width: 90px;
    }
    .signup_msg {
      width: 100%;
      white-space: pre-wrap;
    }

    .select_fields {
      width: 320px;
    }
  }
}
