.Page--Userpage {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 38px;

  .Userpage_Inner {
    width: 1080px;
  }

  .Mypage__ActivitySection {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 59px;
    color: white;
  }
}

@media screen and (max-width: 1079px) {
  .Page--Userpage {
    .Userpage_Inner {
      width: 100%;
    }

    .Mypage__ActivitySection {
      margin-top: 40px;
    }
  }
}
