.right-banner {
  flex: 0 0 70%;
}

.course-content__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 -11px;
}

.course-content__wrap {
  padding-left: 80px;
  height: 460px;
  position: relative;
  overflow: overlay;
  overflow-x: hidden;
  z-index: 10;
  overflow-y: auto;

  &::-webkit-scrollbar  {
    width: 7px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #515151;
    border: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.course-content__item {
  padding: 0 11px;
  width: 28%;
  margin-bottom: 26px;

  &:hover {
    .course-content__hover {
      display: block;
    }
  }

  &.progress {
    .course-content__outline {
      box-shadow: 0 0 0 3px #ffc52f;
    }

    .course-content__label {
      background-color: #ffc52f;
      color: #2a2a2a;
    }
  }

  &.lock {
    pointer-events: none;
    .course-content__outline {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../../../../Image/img-course-lock.svg);
        z-index: 20;
        top: 0;
        left: 0;
      }
    }
  }
}

.course-content__outline {
  border-radius: 16px;
  background-color: #383838;
  position: relative;
  overflow: hidden;
}

.course-content__thumbnail {
  height: 117px;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.course-content__label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 10px 12px;
  z-index: 10;
  background-color: #383838;
  border-radius: 16px 0 16px 0;
  font-weight: 700;
}

.course-content__info {
  padding: 10px 14px 15px;
}

.course-content__title {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  display: block;
  margin-bottom: 18px;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.course-content__more-btn {
  font-size: 13px;
  color: #8e8e8e;
  line-height: 13px;
  font-weight: 500;
}

.course-content__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383838;
  padding: 14px;
  z-index: 15;
  display: none;
}

.course-content__hover-label {
  font-size: 14px;
  line-height: 14px;
  color: #8e8e8e;
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}

.course-content__hover-title {
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 44px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
}

.course-content__hover-content {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  display: block;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 80px;
}

.course-content__clear-label {
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }
}

.course-content__clear-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #aeaeae;
}

.course-content__progress-bar {
  display: flex;
  align-items: center;
}

.course-content__progress-bar-thumb {
  width: 104px;
  height: 8px;
  overflow: hidden;
  border-radius: 100px;
  background-color: #484848;
  position: relative;
}

.course-content__progress-bar-track {
  transition: all .2s ease-in-out;
  border-radius: 100px;
  background-color: #30b878;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.course-content__progress-length {
  padding-left: 22px;
  font-size: 13px;
  line-height: 13px;
  font-weight:500;
  color: #aeaeae;
}

.course-content__detail-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #313131;
  padding: 12px 14px;
  z-index: 20;
}

.course-content__detail-title {
  font-size: 15px;
  color: #fff;
  line-height: 22px;
  font-weight: 500;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0 0 4px;
}

.course-content__detail-explan {
  font-size: 14px;
  color: #c4c1c1;
  font-weight: 400;
  line-height: 18px;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
}

.course-content__learn-btn {
  display: block;
  width: 100%;
  background-color: #ff6f44;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 12px;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;
  border: 0;
  cursor: pointer;

  &.course-content__learn-btn--clear {
    background-color: transparent;
    border: 2px solid #ff6f44;
    color: #ff6f44;
  }
}

.course-content__game-preview {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #c4c1c1;
  font-weight: 400;
  text-decoration: none;
}

.course-btn-prev {
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 15px;
  left: 12px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #8E8E8E;
  display: flex;
  align-items: center;

  img {
    margin-right: 4px;
  }
}
