.Page--BUILDER {
  .vc {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--W_White);
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    overflow: hidden;
    border-radius: 20px;

    button {
      padding: 0;
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
    }
    video {
      outline: none;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #ddd;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #aaa;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--W_ScrollbarHover);
    }
    .wizclass__game {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
      display: flex;
      align-items: center;
      background-color: black;
      iframe {
        width: 100%;
        height: 100%;
      }
      .close_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }
  }
  .vc-fullscreen {
    height: 100%;
  }

  .vc_titleLine {
    line-height: 36px;
    display: flex;
    border-bottom: 1px solid var(--W_Gray01);
  }
  .vc_title {
    margin-left: 10px;
    text-align: left;
    width: 100%;
    font-size: 13px;
    color: var(--W_Gray03);
  }

  .vc_ocprow_wrap {
    height: 38px;
    // border: 1px solid red;
    position: absolute;
    display: flex;
    right: 10px;
    align-items: center;
  }
  .vc__ocprow__level {
    color: white;
    // background-color: var(--W_PointColor);
    background-color: #0073a9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-right: 2px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .vc__ocprow__level-todo {
    opacity: 0.4;
    cursor: default;
  }
  .vc__ocpow-active {
    background-color: var(--W_PointColor);
  }

  .vc_container {
    position: relative;
    width: 100%;
    height: calc(100% - 36px);
  }

  .vc_header {
    position: absolute;
    display: flex;
    z-index: 250;
    padding: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    pointer-events: none;
  }
  .vc_header_button {
    position: relative;
    width: 60px;
    height: 60px;
    pointer-events: visible;
    cursor: pointer;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      transform: translate(-50%, -50%);
    }
  }
  .vc_header_button:nth-last-child(2) {
    margin-left: auto;
  }
  .vc_header_button-inactive {
    opacity: 0.6;
    cursor: default !important;
  }
  .vc_header_button-custom {
    margin: 7px 0;
    width: 180px;
    height: 42px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 21px;
    color: #fff;
    background-color: #63baf5 !important;
  }

  .vc_sidebar {
    position: absolute;
    z-index: 200;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .vc_sidebar_overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
  }
  .vc_sidebar_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 100%;
    transform: translateX(0);
    background-color: #ffbd1f;
    transition: transform 0.2s ease-out;
  }
  .vc_sidebar-hidden {
    pointer-events: none;
    .vc_sidebar_overlay {
      opacity: 0;
    }
    .vc_sidebar_container {
      transform: translateX(-100%);
    }
  }

  .vc_steps {
    position: relative;
    padding: 16px 0 80px 0;
    height: 100%;
    overflow-y: scroll;
  }
  .vc_steps::-webkit-scrollbar {
    display: none;
  }
  .vc_steps_bar {
    position: absolute;
    top: 0;
    margin-left: 40px;
    width: 4px;
    height: 100%;
    background-color: #ffebbc;
  }
  .vc_step_wrapper {
    display: flex;
    padding: 8px 32px 8px 16px;
  }
  .vc_step_indicator {
    z-index: 1;
    margin: auto 0 auto 16px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffebbc;
  }
  .vc_step_indicator-current {
    background-color: transparent;
    transform: translate(-36%, -50%);
    img {
      width: 48px;
    }
  }
  .vc_step {
    display: flex;
    margin-left: auto;
    width: 78%;
    min-width: 78%;
    height: 70px;
    border-radius: 100px;
    background-color: #c2c2c2;
    cursor: default;
  }
  .vc_step_icon {
    display: flex;
    margin: 4px;
    width: 62px;
    height: 62px;
    min-width: 62px;
    min-height: 62px;
    border-radius: 31px;
    background-color: #fff;
    img {
      margin: auto;
      width: 22px;
      height: 22px;
      filter: invert(83%) sepia(12%) saturate(16%) hue-rotate(358deg)
        brightness(94%) contrast(87%);
    }
  }
  .vc_step_title {
    margin-left: 8px;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  .vc_step-current {
    background-color: #63baf5;
    cursor: pointer;
    .vc_step_icon {
      background-color: #fff;
      img {
        filter: invert(66%) sepia(42%) saturate(792%) hue-rotate(176deg)
          brightness(99%) contrast(95%);
      }
    }
    .vc_step_title {
      color: #fff;
    }
  }
  .vc_step-open {
    background-color: #fff;
    cursor: pointer;
    .vc_step_icon {
      background-color: #63baf5;
      img {
        filter: invert(100%) sepia(100%) saturate(20%) hue-rotate(2deg)
          brightness(106%) contrast(105%);
      }
    }
    .vc_step_title {
      color: #797979;
    }
  }

  .vc_success {
    position: absolute;
    z-index: 150;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .vc_success_overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
  }
  .vc_success_container {
    width: 431px;
    height: 379px;
    background: #393e4f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: contain;
    // }
    .textWrapper {
      margin-top: 26px;
    }
    p {
      color: #ffffff;
      text-align: center;
    }
    p:nth-child(1) {
      font-weight: bold;
    }

    p:nth-child(-n + 3) {
      font-size: 20px;
    }
    p:nth-child(3n) {
      margin-top: 23px;
      font-size: 13px;
      font-weight: normal;
    }
  }

  .vc_success_icon {
    margin: 71px auto 0 auto;
    width: 60px;
    text-align: center;
  }
  .vc_success-hidden {
    opacity: 0;
    pointer-events: none;
    .vc_success_overlay {
      opacity: 0;
    }
    .vc_success_container {
      transform: scale(1.2);
    }
  }
  .close-img {
    position: absolute;
    top: 21px;
    right: 23px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
  .vc_success_buttons {
    position: absolute;
    display: flex;
    bottom: 8%;
    left: 50%;
    width: 78%;
    height: 10.81%;
    transform: translate(-50%, -50%);
  }
  .vc_success_button {
    display: flex;
    margin: 0 auto;
    width: 45%;
    height: 100%;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;

    span {
      margin: auto;
    }
  }
  .vc_success_button-more {
    background-color: transparent;
    border: solid 1px #1db6ff;
    color: #1db6ff;
    border-radius: 20px;
  }
  .vc_success_button-next {
    background-color: #1db6ff;
  }

  .vc_content {
    z-index: 50;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 70px);
    background-color: white;
    overflow-y: auto;
  }
  .vc-fullscreen .vc_content {
    background-color: transparent;
  }
  .vc_content_image {
    display: block;
    margin-top: 30px;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
  }
  .vc_content-code {
    .vc_content_image {
      object-fit: initial;
      max-height: initial;
    }
  }

  .vc-fullscreen .vc_content_image {
    margin-top: 0;
  }
  .vc_content_video {
    width: 100%;
    height: 100%;
  }
  .vc_content_video_playpause {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-out;
    pointer-events: none;
  }
  .vc_content_video_playpause-hidden {
    opacity: 0;
  }
  .vc_content-code .vc_content_image {
    height: unset;
  }
}

.ocpView {
  .vc {
    z-index: 2;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
  }
  .vc-playing {
    z-index: 1;
  }
  .vc_android {
    height: 310px;
    min-height: 310px;
  }
  .vc-fullscreen {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .vc_container {
    height: 100%;
  }
  .vc-fullscreen .vc_container {
    height: 100%;
  }
  .vc_content {
    max-height: unset;
  }
  .vc_content_image {
    margin-top: 0;
  }
  .vc-fullscreen .vc_content-end {
    background-color: #fff;
  }
  .vc_header_button {
    width: 45px;
    height: 45px;
    img {
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      transform: translate(-50%, -50%);
    }
  }
}

#popup {
  .wizclass__game__popup {
    text-align: center;
    .wizclass__game__popup__title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      white-space: pre-wrap;
      margin-bottom: 23px;
      margin-top: 26px;
    }

    .wizclass__game__popup__desc {
      font-size: 13px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 25px;
    }
    .wizclass__game__popup__button {
      width: 156px;
      height: 41px;
      margin: 0 auto;
      padding: 7px 40px 9px 41px;
      border-radius: 20px;
      background-color: #1db6ff;
    }
  }
}
