.socialwrite {
  margin: 60px auto 120px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  color: #fff;

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  input {
    background: none;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .socialwrite_header {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #f7f7f7;
  }
  .socialwrite_title_input {
    margin-top: 20px;
    padding: 28px;
    height: 60px;
    font-size: 20px;
    color: #fff;
    border-radius: 15px;
    background-color: #19191a;
    box-shadow: 10px 4px 40px 0 rgba(0, 0, 0, 0.5);
  }
  .socialwrite_title_input::placeholder {
    color: #999;
  }

  .socialwrite_mediabtns {
    display: flex;
    margin-top: 28px;
  }
  .socialwrite_mediabtn {
    margin-left: 28px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .socialwrite_mediabtn:nth-child(1) {
    margin-left: auto;
  }

  .socialwrite_editor {
    margin-top: 28px;
    padding: 28px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #19191a;
    box-shadow: 10px 4px 40px 0 rgba(0, 0, 0, 0.5);
  }
  .DraftEditor-root {
    min-height: 400px;
    color: #fff;
  }

  .socialwrite_tag_wrapper {
    margin-top: 80px;
    width: 100%;
  }
  .socialwrite_tag_wrapper_title {
    font-size: 24px;
    font-weight: bold;
    color: #f7f7f7;
  }
  .socialwrite_tag_input_wrapper {
    padding: 15px 28px 5px 28px;
    margin-top: 10px;
    min-height: 60px;
    border-radius: 15px;
    background-color: #19191a;
    box-shadow: 10px 4px 40px 0 rgba(0, 0, 0, 0.5);
  }
  .socialwrite_tag {
    display: inline-flex;
    margin: 0 10px 10px 0;
    padding: 0 20px;
    min-width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: solid 1px #8e8e8e;
    border-radius: 20px;
    cursor: pointer;
  }
  .socialwrite_tag_input {
    display: inline-flex;
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
    color: #fff;
  }
  .socialwrite_tag_input::placeholder {
    color: #999;
  }
  .socialwrite_tag_suggestions {
    margin-top: 20px;
  }

  .socialwrite_quest_wrapper {
    margin-top: 80px;
  }
  .socialwrite_quest {
    margin-top: 20px;
    display: flex;
  }
  .socialwrite_quest_title {
    margin: auto 0;
    font-size: 16px;
    color: #f7f7f7;
  }
  .socialwrite_quest_title:nth-child(3) {
    margin-left: 50px;
  }
  .socialwrite_quest_userPoint_wrapper {
    display: flex;
  }
  .socialwrite_quest_userPoint {
    margin: auto 0 auto 10px;
    font-size: 24px;
  }
  .socialwrite_quest_input_wrapper {
    display: flex;
    margin-left: 50px;
  }
  .socialwrite_quest_input {
    margin-left: 12px;
    padding: 0 12px;
    width: 150px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    border: solid 1px #3f3f3f;
    border-right: none;
    box-sizing: border-box;
    -webkit-appearance: none;
  }
  .socialwrite_quest_input::placeholder {
    font-size: 18px;
    color: #999;
  }

  .socialwrite_questbtn {
    margin-left: 50px;
    width: 80px;
    height: 40px;
    font-size: 14px;
    color: #f7f7f7;
    background-color: #242424;
    border: solid 1px #3f3f3f;
  }
  .socialwrite_questbtn-cancel {
    margin-left: 0px;
    border-left: none;
  }
  .socialwrite_submitbtn {
    margin: 100px auto 0 auto;
    width: 279px;
    height: 54px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    color: #fff;
    background-color: #242424;
  }

  .socialwrite_tooltip_img {
    margin: auto 0 auto 5px;
    width: 12px;
    height: 12px;
  }
  .socialwrite_tooltip {
    background-color: #151424;
    font-size: 15px;
  }

  @media screen and (max-width: 1079px) {
    margin: 0;
    padding: 20px 20px 100px 20px;
    width: 100%;

    .socialwrite_quest {
      display: block;
    }
    .socialwrite_questbtn {
      margin-left: 10px;
    }
    .socialwrite_questbtn-cancel {
      margin-left: 0px;
    }
    .socialwrite_quest_input_wrapper {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
