.PersonalSetting {
  display: flex;
  align-items: center;
  width: 1080px;
  flex-direction: column;
  margin-top: 60px;

  .PersonalSetting_CenterWrap {
  }

  .PersonalSetting_CenterWrap_MarketWrap {
    display: flex;
    align-items: center;

    .PersonalSetting_CenterWrap_MarketWrap-title {
      width: 125px;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      color: #f7f7f7;
      margin-right: 17px;
    }
  }

  .PersonalSetting_Wrap {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;

    .PersonalSetting_Wrap-title {
      width: 125px;
      opacity: 0.5;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      color: #f7f7f7;
      margin-right: 17px;
    }

    .PersonalSetting_Wrap-content {
      font-size: 16px;
      line-height: 19px;
      color: #88888e;
    }

    .PersonalSetting_Wrap-input {
      outline: none;
      padding-left: 9px;
      width: 345px;
      height: 40px;
      border: solid 0.5px #ffffff;
      background-color: #191a25;

      font-size: 16px;
      color: #ffffff;
    }
  }

  .PersonalSetting_BtnWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

    .PersonalSetting-submit {
      margin-top: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 279px;
      height: 54px;
      background-color: #2b2f4e;
      cursor: pointer;
    }

    .PersonalSetting-out {
      margin-top: 21px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 279px;
      height: 54px;
      border: solid 1px #595959;
      background-color: #191a25;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1079px) {
  .PersonalSetting {
    width: 100%;

    .PersonalSetting_CenterWrap {
      // width: 100%;
    }

    .PersonalSetting_Wrap {
      display: flex;
      align-items: center;
      height: 40px;
      margin-bottom: 20px;

      .PersonalSetting_Wrap-title {
        width: 125px;
        opacity: 0.5;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        color: #f7f7f7;
        margin-right: 17px;
      }

      .PersonalSetting_Wrap-content {
        font-size: 16px;
        line-height: 19px;
        color: #88888e;
      }

      .PersonalSetting_Wrap-input {
        outline: none;
        padding-left: 9px;
        width: 200px;
        height: 40px;
        border: solid 0.5px #ffffff;
        background-color: #191a25;

        font-size: 16px;
        color: #ffffff;
      }
    }

    .PersonalSetting_BtnWrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      font-weight: bold;

      .PersonalSetting-submit {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 279px;
        height: 54px;
        background-color: #2b2f4e;
        cursor: pointer;
      }

      .PersonalSetting-out {
        margin-top: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 279px;
        height: 54px;
        border: solid 1px #595959;
        background-color: #191a25;
        cursor: pointer;
      }
    }
  }
}
