.OCPCertificationContainer {
  position: relative;

  //tools
  .OCPCertificationContainerTools {
    position: relative;
    display: flex;
    justify-content: center;
    //float: left;
  }

  .OCPCertificationPrint {
    padding: 15px;
    font-size: 18px;
    background-color: #4313ab;
    color: white;
    margin-top: 20px;
    width: 162px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50px;
  }

  // img
  .OCPCertificationImg {
    display: block;
    width: calc(100vw * 740 / 1200);
    max-width: 720px;
    height: calc(100vw * 493 / 1200);
    max-height: 493px;
    object-fit: contain;
  }
  .OCPCertificationTexts {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    height: 100%;
    width: 100%;
    // height: 100%;
    color: #434343;
  }

  .OCPCertificationTextOrgName {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 60%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .OCPCertificationText_School {
    margin-top: 2px;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #484848;
  }
  .OCPCertificationText_Name {
    margin-top: -10px;
    font-family: "DynalightOTF";
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #231815;
  }

  .OCPCertificationText_Class {
    margin-top: -16px;
    font-family: "DynalightOTF";
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #1d1d1b;
  }

  .OCPCertificationText_Date {
    font-family: "Iowan Old Style";
    font-size: 16px;
    line-height: 27px;
    color: #1d1d1b;
    position: absolute;
    bottom: 26.3%;
    left: 19%;
  }
}

@media print {
  .no-printme {
    display: none;
  }
  .printme {
    display: block;
  }
}

@page {
  size: landscape;
}
