.content-slide__thumbnail-wrap--user {
  &.lock {
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height:100%;
      top:0;
      left:0;
      background-image: url(../../../../../Image/img-my-video-lock.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.content-slide--user {
  .swiper-button-next--after-next, .swiper-button-next--after-prev {
    top: 47%;
    z-index: 11;
  }
}