.Page--EventDetail {
  width: 1170px;
  margin: 0 auto;
  color: #fff;

  .EventBack {
    margin: 28px 0 19.5px;
  }

  .EventDetailTitle {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 500;
    padding: 19.5px 0 5px;
  }

  .EventDate {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
  }

  .EventContent {
    border-radius: 16px;
  }
}