.popup_onebutton {
  text-align: center;
  width: 300px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #1c1c1c;
  padding: 20px;

  @media screen and (max-width: 1170px) {
    width: calc(88.33vw - 60px);
  }
}
