.builder3d {
  .menu {
    position: relative;
    display: flex;
    padding: calc(6.48vh * 0.14) calc(6.48vh * 0.28);
    width: 100%;
    height: 6.48vh; // 높이 1080 화면에서 높이가 70
    min-height: 50px;
    max-height: 70px;
    color: white;
    background-color: #1e222d;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .menu_dropdownBtn {
    margin: auto 0;
    text-align: center;
    font-size: 12px;
    white-space: pre;
    border-radius: 10px;
    height: 4.62vh;
    min-height: 30px;
    max-height: 50px;
    padding: 0.5vh 0.83vh;
    cursor: pointer;

    img {
      height: 100%;
    }
  }
  .menu_dropdownBtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu_dropdownBtn:active {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menu_dropdownBtn_open,
  .menu_dropdownBtn_open:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu_dropdown {
    position: absolute;
    top: 100%;
    left: calc(6.48vh * 0.28);
    padding: 10px;
    width: 18%;
    min-width: 240px;
    max-width: 320px;
    background-color: #393e4f;
    border-radius: 14px;
  }

  .menu_dropdown_item {
    display: flex;
    padding: 5px 10px;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
  }
  .menu_dropdown_item:hover {
    background-color: #1db6ff;
  }
  .menu_dropdown_item:active {
    background-color: #2b79a7;
  }
  .menu_dropdown_item_disable {
    opacity: 0.3;
  }
  .menu_dropdown_icon {
    margin: auto 0;
  }
  .menu_dropdown_title {
    margin: auto 0 auto 10px;
    font-size: 22px;
    font-weight: 500;
  }

  .menu_nameInput {
    margin: auto 0 auto 10px;
    padding: 7px 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #181b25;
    border-radius: 6px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .menu_nameInput:disabled {
    color: rgba(255, 255, 255, 0.5);
  }
}
