.builder3d {
  img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .SoundBoxContainer {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    background: alpha;
    border-radius: 14px;
    background-color: var(--W_White);
    overflow: hidden;
  }
  .SoundBoxTitleLine {
    line-height: 50px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #272b37;
  }
  .SoundBoxTitle {
    margin-left: 30px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: var(--W_Gray03);
  }
  .SoundBoxClose {
    cursor: pointer;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    img {
      width: 16px;
      height: 16px;
    }
  }

  // content
  .SoundBoxContent {
    height: calc(100% - 38px);
    background: var(--W_White);
    display: flex;
    border-radius: 0 0 20px 20px;
  }
  .SoundBoxContentLeft {
    box-sizing: border-box;
    min-width: 150px;
    height: 100%;
    background-color: #272b37;
    overflow: auto;
    padding: 6px 10px;
  }
  .SoundBoxContentRight {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 10px 20px 10px;
    background-color: #2f3443;
  }

  // category
  .SoundBoxCategories {
    margin-top: 18px;
  }
  .SoundBoxCategoryItemName {
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: -0.28px;
    line-height: 1;
    color: var(--W_Gray03);
    margin-bottom: 7px;
    font-weight: bold;
  }
  .SoundBoxCategoryItem {
    margin-bottom: 36px;
  }
  // subcategory
  .SoundBoxSubCategories {
  }
  .SoundBoxSubCategoryItem {
    cursor: pointer;
    line-height: 36px;
    .SoundBoxSubCategoryItemName {
      padding-left: 10px;
      letter-spacing: -0.22px;
      color: var(--W_Gray03);
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
    }
  }
  .SoundBoxSubCategoryItemActive {
    width: 100%;
    background-color: var(--W_PointColor);
    border-radius: 7px;

    .SoundBoxSubCategoryItemName {
      color: var(--W_TextColorOnBG);
      font-size: 16px;
      font-weight: 500;
    }
  }

  //sound item
  .SoundBoxAssetTitle {
    margin-top: 10px;
  }
  .SoundBoxAssetTitleCategory {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.22px;
    line-height: 2;
    color: var(--W_Gray03);
  }
  .SoundBoxAssetTitleSubCategory {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.24px;
    color: var(--W_Gray03);
    margin-bottom: 4px;
  }
  .SoundBoxAssets {
  }
  .SoundBoxAsset {
    position: relative;
    height: 33px;
    display: flex;
    padding-left: 14px;
    padding-right: 3px;
    align-items: center;
    &:hover {
      border-radius: 7px;
      background-color: #404555;
    }
  }
  .SoundBoxAssetImage {
    width: 28px;
    height: 28px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .SoundBoxAssetName {
    font-size: 13px;
    letter-spacing: -0.24px;
    color: var(--W_Gray03);
    margin-left: 10px;
    width: 100%;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .SoundBoxAssetSelect {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100%);
    height: 100%;
  }
  .SoundBoxAssetAdd,
  .SoundBoxAssetRemove {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    background: #757884;
    border-radius: 7px;
    img {
      width: 13px;
      height: 14px;
    }
    &:hover {
      background: #90939c;
    }
    &:active {
      background: #5d6069;
    }
  }
  .SoundBoxAssetAdd {
    display: none;
    background-color: #757884;
    border-radius: 5px;
  }
  .SoundBoxAsset:hover .SoundBoxAssetAdd {
    display: block;
  }
}
