.edit-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 99;
}

.edit-popup__inner {
  width: 440px;
  height: fit-content;
  position: relative;
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 30px;
}

.edit-popup__head {
  position: relative;
  width: 100%;
}

.edit-popup__title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  line-height: 26px;
}

.edit-popup__close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
    opacity: 0.5;
  }
}

.edit-popup__content {
  padding: 50px 0 46px;
}

.edit-popup__list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.edit-popup__category {
  flex: 0 0 35%;
  display: block;
  font-size: 16px;
  line-height: 47px;
  font-weight: 500;
  color: #8e8e8e;
}

.edit-popup__right {
  flex: 0 0 65%;
}

.edit-popup__input {
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #585858;
  padding: 14px 16px 13px;
  background-color: transparent;
  width: 100%;
  height: 47px;
  color: #fff;

  &:focus, &:active {
    border-color: #fff;
    outline: none;
  }
}

.edit-popup__submit-btn {
  width: 100%;
  display: block;
  background-color: #ff6f44;
  text-align: center;
  color: #fff;
  padding: 13px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.edit-popup__input-help {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #999;
  line-height: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}