.pythonSettingPopup {
  width: 480px;
  height: 377px;
  border: solid 1px #00fffc;
  background-color: rgba(8, 7, 37, 0.3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  button {
    outline: none;
    cursor: pointer;
  }

  .popupHeader {
    position: relative;
    top: -2px;
    text-align: center;
    height: 45px;
    background: url("../../../../../Image/newPython/setting-top@2x.png")
      no-repeat center/contain;

    .title {
      position: absolute;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      color: #00fffc;
    }

    .popupCloseBtn {
      position: absolute;
      right: 6px;
      top: 5px;
      padding: 0;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }

  .popupBody {
    width: calc(100% - 80px);
    height: 354px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .soundBox {
      border: solid 1px rgba(0, 255, 252, 0.2);
      background-color: rgba(8, 7, 37, 0.68);
      margin-top: 24px;
      padding: 31px 26px 31px 17px;
      width: 400px;
      height: 146px;
      display: flex;
      flex-direction: column;

      > div {
        display: flex;
        align-items: center;

        .soundType {
          font-size: 16px;
          margin-left: 4px;
          font-size: 16px;
        }

        .bgSoundIcon,
        .effectSoundIcon {
          position: relative;
          top: 2px;
          width: 42px;
          height: 40px;
        }

        .soundToggleBtnWrapper {
          margin-left: auto;
          position: relative;
          box-sizing: border-box;
          width: 102px;
          height: 24px;
          border: solid 1px rgba(0, 255, 252, 0.2);
          background-color: rgba(146, 255, 248, 0.1);
          cursor: pointer;

          .soundState {
            position: absolute;
            right: 22px;
            font-size: 14px;
            color: #01696d;
          }

          img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 22px;
          }

          &.on {
            background-color: rgba(0, 255, 252, 0.26);
            .soundState {
              right: unset;
              left: 24px;
              font-weight: 500;
              color: #00fffc;
            }

            img {
              left: unset;
              right: 0;
            }
          }
        }
      }
    }

    .settingBtnWrapper {
      display: flex;
      margin: 23px 0 42px;

      button {
        width: 260px;
        height: 30px;
        margin-left: 70px;
        border: none;
        background: linear-gradient(
          to bottom,
          #19becd,
          rgba(7, 136, 177, 0.75)
        );
        color: #ffffff;
        height: 30px;
        font-size: 14px;
      }

      button + button {
        margin-left: 6px;
      }
    }

    .tutorialBtn {
      display: block;
    }

    .popupBtnWrapper {
      display: flex;
      justify-content: center;

      .cancleBtn {
        background: url("../../../../../Image/newPython/setting-btn-cancel@2x.png")
          no-repeat center/cover;
        &:hover {
          background: url("../../../../../Image/newPython/setting-btn-cancel-hover@2x.png")
            no-repeat center/cover;
        }
      }

      .confirmBtn {
        background: url("../../../../../Image/newPython/setting-btn-confirm@2x.png")
          no-repeat center/cover;
        &:hover {
          background: url("../../../../../Image/newPython/setting-btn-confirm-hover@2x.png")
            no-repeat center/cover;
        }
      }

      button {
        width: 124px;
        height: 42px;
        font-size: 18px;
        color: #ffffff;
        border: none;
      }

      button + button {
        margin-left: 10px;
      }
    }
  }
}
