.LectureVideoList {
  position: absolute;
  left: 28px;
  top: 0px;
  z-index: 100;
  background-color: var(--W_White);
  border-radius: 3px;

  .LectureVideoBox {
    width: 220px;
    height: auto;
    border-radius: 10px;
  }

  .LectureVideoBoxItem {
    width: auto;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .LectureVideoBoxItem--line {
    height: 1px;
    background-color: var(--W_Gray04);
    opacity: 0.2;
  }
  .LectureVideoBoxItem--title {
    color: var(--W_Gray03);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }

  .LectureVideoBoxItem--time {
    color: var(--W_Dim);
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
  }
}
