.Page--BUILDER {
  .Chat {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 15px 0px var(--W_Shadow);
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--W_White);
  }

  //title line
  .ChatTitleLine {
    line-height: 38px;
    display: flex;
    border-bottom: 1px solid var(--W_Gray01);
  }
  .ChatTitle {
    margin-left: 30px;
    text-align: center;
    width: 100%;
    font-size: 13px;
    color: var(--W_Gray03);
  }
  .ChatClose {
    cursor: pointer;
    width: 30px;
    text-align: center;
    float: right;
    margin-right: 10px;
  }

  // content
  .ChatContent {
    width: 100%;
    height: calc(100% - 38px);
    display: flex;
    flex-direction: row;
  }

  // left
  .ChatContentRooms {
    width: 71px;
    min-width: 71px;
    height: 101%;
    overflow: auto;
    border-right: 1px solid var(--W_Gray01);
    background-color: var(--W_White);
  }
  .ChatContentRoom {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 40px;
    margin: 0 auto;
    margin-top: 28px;
    img {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: 22px;
    }
    .livechat {
      width: 28px;
      height: 28px;
      border: 2px solid var(--W_White);
      border-radius: 50%;
    }
    .livechat__on {
      border: 2px solid var(--W_PointColor);
      border-radius: 50%;
    }
  }
  .room__title {
    font-size: 10px;
    letter-spacing: -0.18px;
    color: var(--W_Gray03);
    width: 100%;
    display: block;
    margin-top: 9px;
  }
  .ChatContentRoomActive {
  }
  .ChatContentRoomRedDot {
    background-color: var(--W_PointColor);
    color: var(--W_TextColorOnBG);
    display: block;
    font-size: 10px;
    border-radius: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
    font-size: 10px;
    letter-spacing: -0.18px;
    line-height: 1.5;
    text-align: center;
    top: -15px;
    right: -3px;
  }

  // right
  .ChatContentMain {
    position: relative;
    width: calc(100% - 71px);
    height: 100%;
  }
  .ChatContentMainMessages {
    height: calc(100% - 38px);
    width: 100%;
    overflow: auto;
    padding: 29px 11px 12px 11px;
  }
  .ChatContentMainMessage {
    position: relative;
    width: 100%;
  }

  //user
  .ChatContentMainMessageUserLine {
    display: flex;
    align-items: center;
  }

  .ChatContentMainMessageIcon {
    width: 30px;
    min-width: 30px;
    height: 30px;
    cursor: pointer;
    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .ChatContentMainMessageName {
    font-size: 10px;
    font-weight: 300;
    color: var(--W_Gray03);
    margin-left: 7px;
    max-width: calc(100% - 30px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  //content
  .ChatContentMainMessageContentLine {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    top: -6px;
    left: 37px;
    width: calc(100% - 37px);
    margin-bottom: 7px;
  }
  .ChatContentMainMessageContent,
  .ChatbotErrorItem {
    padding: 9px;
    background: var(--W_Gray05);
    border-radius: 10px;
    border-top-left-radius: 0;
    white-space: pre-wrap;
    word-break: break-all;
    display: inline-block;
    font-size: 12px;
    line-height: 1.6;
    color: var(--W_Gray03);
    max-width: calc(100% - 70px);
  }
  .ChatContentMainMessageTime {
    font-size: 10px;
    margin-left: 5px;
    display: inline-block;
    color: var(--W_Gray03);
  }

  //my msg
  .ChatContentMainMessageContentLineMy {
    flex-direction: row-reverse;
    top: 0;
    margin-bottom: 13px;
    .ChatContentMainMessageContent {
      background-color: var(--W_PointColor);
      color: var(--W_TextColorOnBG);
      border-radius: 10px;
      border-top-right-radius: 0;
    }
    .ChatContentMainMessageTime {
      margin-left: 0;
      margin-right: 5px;
    }
  }

  //game print msg
  .ChatContentMainMessageContentPrint {
  }

  //input
  .ChatContentMainInputWrapper {
    width: calc(100% - 22px);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    margin-bottom: 8px;
    margin-right: 11px;
    margin-left: 11px;
    align-items: center;
  }

  .ChatContentMainInput {
    display: block;
    width: 100%;
    height: 32px;
    border-radius: 20px;
    background-color: var(--W_Gray05);
    outline: none;
    border: none;
    font-size: 12px;
    color: var(--W_Gray03);
    padding-left: 15px;
    padding-right: 45px;
  }

  .ChatContentMainInputBtn {
    cursor: pointer;
    position: absolute;
    right: 5px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: var(--W_PointColor);
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  .ChatbotErrorItem {
    position: relative;
    top: -6px;
    left: 37px;
    font-weight: bold;
  }

  .ChatbotButtonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .ChatbotButtons {
    position: unset;
    max-width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
  }
  .ChatbotButton {
    cursor: pointer;
    padding: 9px;
    background: var(--W_Gray02);
    border-radius: 10px;
    white-space: pre-wrap;
    word-break: break-all;
    display: inline-block;
    font-size: 12px;
    line-height: 1.6;
    color: var(--W_Gray03);
    margin: 8px 0; 
  }

  .ChatbotLectures {
    max-width: calc(100% - 70px);
    position: relative;
    left: 37px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .ChatbotLecture {
    cursor: pointer;
    width: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: var(--W_Gray03);
    background: var(--W_Gray05);
    font-size: 12px;
    border-radius: 10px;
    padding: 8px;
  }
  .ChatbotLectureTitle {
    text-align: center;
    font-weight: bold;
  }
  .ChatbotLectureImg {
    display: block;
    width: 150px;
    margin: 8px auto;
  }
}
