.APKInfo {
  // border: 1px solid red;
  position: fixed;
  width: 100%;
  height: var(--innerHeight);
  display: flex;
  justify-content: center;
  display: none;
  z-index: 1;

  .apkinfo-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }

  .apkinfo_container {
    padding: 20px 30px;
    position: absolute;
    top: 100px;
    z-index: 1;
    width: 1000px;
    background-color: white;
  }

  .apkinfo-title {
    font-size: 35px;
    font-weight: bold;
  }

  .apkinfo_appName {
    display: flex;
    align-items: center;
  }

  .apkinfo_appName-title {
  }

  .apkinfo_packageName {
    display: flex;
    align-items: center;
  }

  .apkinfo_packageName-checkBtn {
  }

  .apkinfo_appIcon {
    display: flex;
    align-items: center;
  }

  .apkinfo_appIcon-icon {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .apkinfo-warning {
    border: 1px solid red;
  }
}

.APKInfo-visible {
  display: flex;
}

@media screen and (max-width: 1079px) {
}
