.ApkPayLinkPopup {
  width: 450px;
  height: 280px;
  background-color: #282c36;
  padding: 60px 57px 48px 57px;

  .ApkPayLinkPopup_inner {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .ApkPayLinkPopup-title {
    font-size: 20px;
    font-weight: 500;
  }

  .ApkPayLinkPopup-subtitle {
    font-size: 13px;
    text-align: center;
  }

  .ApkPayLinkPopup_btnWrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .ApkPayLinkPopup_bw-cancel,
  .ApkPayLinkPopup_bw-confirm {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    width: 156px;
    height: 41px;
    padding: 10px 40px;
    border-radius: 20px;
  }

  .ApkPayLinkPopup_bw-cancel {
    border: solid 1px #1db6ff;
    color: #1db6ff;
  }

  .ApkPayLinkPopup_bw-confirm {
    background-color: #1db6ff;
  }
}

@media screen and (max-width: 1079px) {
  .ApkPayLinkPopup {
    width: auto;
    height: 100%;
    padding: 60px 57p;

    .ApkPayLinkPopup_inner {
      justify-content: center;
    }

    .ApkPayLinkPopup-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .ApkPayLinkPopup-subtitle {
      font-size: 13px;
      margin-bottom: 25px;
    }

    .ApkPayLinkPopup_bw-cancel,
    .ApkPayLinkPopup_bw-confirm {
      font-size: 13px;
      font-weight: 500;
      width: auto;
      height: auto;
      padding: 6px 20px;
      border-radius: 20px;
    }
  }
}
