.popup_contents {
    background-color: transparent;
}
.popup_contents .certificate-container {
    width: 909px;
    height: 583px;
}

.certificate-img{
    width: 100%;
    height: 95%;
    background: url("../../../../Image/certificate-bg.png") no-repeat center/cover;
}