.Page--BUILDER {
  .ProjectLeft {
    float: left;
    width: 247px;
    height: calc(100% - 88px);
    background: var(--W_White);
    border-right: 1px solid var(--W_Gray01);
  }
  .ProjectCategory {
    cursor: pointer;
    width: 183px;
    line-height: 51px;
    border-radius: 25.5px;
    background-color: var(--W_White);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.37px;
    color: var(--W_Gray03);
    margin: 37px auto;
    text-indent: 29px;
  }
  .ProjectCategory_Active {
    box-shadow: 2px 5px 9px 0 var(--W_Shadow);
    background-color: var(--W_PointColor);
    color: var(--W_TextColorOnBG);
  }
}
