.Page--BUILDER {
  .LeftBar {
    background: var(--W_White);
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 200px;
  }
  .LeftBarButtons {
    border-right: 1px solid var(--W_Gray01);
    // border: 1px solid blue;
    // padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60px;
    flex: 0 0 60px;
    &.hidden {
      display: none;
    }
  }
  .LeftBarButton {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-top: 18px;

    .LeftBarButtonImgScene {
      background-image: url("../../../../Image/builder/group-25-copy-2.svg");
    }
    .LeftBarButtonImgSound {
      background-image: url("../../../../Image/builder/group-34-copy-2.svg");
    }
  }
  .LeftBarButtonImgScene {
    // margin-top: 16px;
  }

  .LeftBarButtonImg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .LeftBarButtonActive {
    // border-bottom: 1px solid var(--W_PointColor);
    background-color: var(--W_Gray06);
    border-radius: 20px;
    .LeftBarButtonImgScene {
      background-image: url("../../../../Image/builder/group-25-copy.svg");
    }

    .LeftBarButtonImgSound {
      background-image: url("../../../../Image/builder/group-34-copy.svg");
    }
  }
  .LeftBarView {
    background: var(--W_White);
    border-right: 1px solid var(--W_Gray01);
    width: 100%;
    max-width: 140px;
    flex: 0 0 140px;
  }
}
