.pythonHeader {
  width: 100vw;
  height: 75px;
  box-sizing: border-box;
  background: #000140;
  background: url("../../../../../Image/newPython/header-bg@2x.png") no-repeat
    left/cover;

  // text
  display: flex;
  justify-content: space-between;
  z-index: 100;

  .titleArea {
    position: relative;
    width: 414px;
    height: 49px;
    background: url("../../../../../Image/newPython/header-title-area@2x.png")
      no-repeat left/contain;

    .titleText {
      position: absolute;
      top: 7px;
      left: 59px;
      font-size: 14px;
      color: #00fffc;
    }
  }

  .buttonArea {
    position: absolute;
    top: 9px;
    right: 18px;
    display: flex;

    button + button {
      margin-left: 12px;
    }

    button {
      width: 46px;
      height: 31px;
    }
  }

  .codeEditorBtn {
    background: url("../../../../../Image/newPython/btn-code@2x.png") no-repeat
      center/cover;
  }

  .codeEditorBtnBlink {
    position: relative;
    background: url("../../../../../Image/newPython/btn-code@2x.png") no-repeat
      center/cover;
      animation:         NAME-YOUR-ANIMATION 1s infinite;
  }

  .codeEditorBtnBlink:after {
    content: "";
    background-image: url('../../../../../Image/newPython/guide_arrow_apng.png');
    transform: rotate(-90deg);
    width: 102px;
    height: 72px;
    position: absolute;
    left: -27px;
    top: 50px;
  }

  .infoBtn {
    background: url("../../../../../Image/newPython/btn-info@2x.png") no-repeat
      center/cover;
  }

  .infoBtnBlink {
    background: url("../../../../../Image/newPython/btn-info@2x.png") no-repeat
      center/cover;
      animation:         NAME-YOUR-ANIMATION 1s infinite;
  }

  .infoBtnBlink:after {
    content: "";
    background-image: url('../../../../../Image/newPython/guide_arrow_apng.png');
    transform: rotate(-90deg);
    width: 102px;
    height: 72px;
    position: absolute;
    left: 32px;
    top: 50px;
  }

  .collectionBtn {
    background: url("../../../../../Image/newPython/btn-inventory@2x.png")
      no-repeat center/cover;
  }

  .collectionBtnBlink {
    background: url("../../../../../Image/newPython/btn-inventory@2x.png")
      no-repeat center/cover;
      animation:         NAME-YOUR-ANIMATION 1s infinite;
  }

  .collectionBtnBlink:after {
    content: "";
    background-image: url('../../../../../Image/newPython/guide_arrow_apng.png');
    transform: rotate(-90deg);
    width: 102px;
    height: 72px;
    position: absolute;
    left: 90px;
    top: 50px;
  }

  .settingBtn {
    background: url("../../../../../Image/newPython/btn-setting@2x.png")
      no-repeat center/cover;
  }

  @-webkit-keyframes NAME-YOUR-ANIMATION {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @media screen and (max-width: 1439px) {
    height: 55px;

    .titleArea {
      height: 37px;

      .titleText {
        font-size: 14px;
      }
    }


    .buttonArea {
      position: absolute;
      top: 9px;
      right: 18px;
      display: flex;
  
      button + button {
        margin-left: 12px;
      }
  
      button {
        width: 58px;
        height: 39px;
      }
    }

    .codeEditorBtnBlink:after {
      left: -20px;
    }

    .infoBtnBlink:after {
      left: 50px;
    }

    .collectionBtnBlink:after {
      left: 120px;
    }
  }
}
