.APKMaking {
  width: 100%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .APKMaking_inner {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .APKMaking-title,
  .APKMaking_complete-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .APKMaking_complete_qr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
    }

    .APKMaking_complete_qr_inner {
      position: absolute;
      border-radius: 5px;
      width: 140px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .APKMaking_complete_qr-qrcode {
    }
  }

  .APKMaking_Loading {
    width: 70px;
    height: 70px;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .APKMaking-middleText,
  .APKMaking_complete-middleText {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
    white-space: pre-wrap;
  }

  .APKMaking-bottomText {
    margin-top: 30px;
    font-size: 15px;
    color: #afafaf;
    text-align: center;
    white-space: pre-wrap;
  }
  .bottomText_small {
    font-size: 12px;
    letter-spacing: 0.09px;
    color: #afafaf;
  }
  .APKMaking_btnWrap {
    margin-top: 45px;
    display: flex;
  }

  .APKMaking_bw-wizlabBtn,
  .APKMaking_bw-myapkBtn {
    cursor: pointer;
    transition: all 0.2s;
    padding: 6px 27px;
    border-radius: 20px;
    background-color: #1db6ff;

    font-size: 18px;
    font-weight: 500;
  }

  .APKMaking_bw-wizlabBtn {
    margin-right: 10px;
  }

  .APKMaking_bw-wizlabBtn:hover,
  .APKMaking_bw-myapkBtn:hover {
    opacity: 0.5;
    transform: scale(1.05);
  }

  .APKMaking_complete_bw-download,
  .APKMaking_complete_bw-qr,
  .APKMaking_complete_bw-share {
    transition: all 0.2s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #1db6ff;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    img {
      width: 25px;
      height: 25x;
    }
  }

  .APKMaking_complete_bw-download:hover,
  .APKMaking_complete_bw-qr:hover,
  .APKMaking_complete_bw-share:hover {
    opacity: 0.5;
    transform: scale(1.05);
  }
}

@media screen and (max-width: 1079px) {
  .APKMaking {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .APKMaking_inner {
      width: var(--innerWidth);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .APKMaking-title,
    .APKMaking_complete-title {
      text-align: center;
      font-size: 24px;
      white-space: pre-wrap;
    }

    .APKMaking_Loading {
      width: 60px;
      height: 60px;
      animation: rotate 1s linear infinite;
      -webkit-animation: rotate 1s linear infinite;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .APKMaking-middleText,
    .APKMaking_complete-middleText {
      font-size: 15px;
    }

    .APKMaking-bottomText {
      margin-top: 10px;
      font-size: 14px;
    }

    .APKMaking_btnWrap {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .APKMaking_bw-wizlabBtn,
    .APKMaking_bw-myapkBtn {
      padding: 4px 18px;
      font-size: 15px;
    }

    .APKMaking_bw-wizlabBtn {
      margin-right: 10px;
    }

    .APKMaking_bw-wizlabBtn:hover,
    .APKMaking_bw-myapkBtn:hover {
      opacity: 0.5;
      transform: scale(1.05);
    }

    .APKMaking_complete_bw-download,
    .APKMaking_complete_bw-qr,
    .APKMaking_complete_bw-share {
      transition: all 0.2s;
      cursor: pointer;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      background-color: #1db6ff;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      img {
        width: 25px;
        height: 25x;
      }
    }
  }
}
