.structure {
  padding: 119px 0 120px;
}

.structure__title {
  display: block;
  margin-bottom: 28px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: 800;
}

.structure__file-down {
  width: 100%;
  max-width: 336px;
  margin: 0 auto;
  padding: 19px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #1E67FC;
  border-radius: 100px;
  justify-content: center;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 10px;
  }
}

.structure__down-text {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
}

.structure__trial {
  margin-top: 80px;
}

.structure__trial-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  > img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
}

.structure__trial-title {
  font-size: 28px;
  color: #fff;
  line-height: 28px;
  font-weight: 700;
  display: block;
  margin: 0;
}

.structure__trial-wrap {
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}

.structure__free-link {
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: #FF6F44;
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;

  img {
    margin-left: 6px;
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}

.structure__sample-video-wrap {
  width: 100%;
  height: 432px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.structure__trial-explain {
  display: block;
  margin: 20px 0 30px;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-weight: 500;
}

.structure__slide-flex-box {
  display: flex;
  align-items: center;
  position: relative;

  > img {
    width: 160px;
    height: 90px;
    object-fit: cover;
    min-width: 160px;
    border-radius: 8px;
    border: 0.8px solid #3c3c3c;
    box-sizing: border-box;
    overflow: hidden;
  }
}

.structure__slide-box {
  padding: 9px 10px 10px;
  background-color: #1c1c1c;
  border-radius: 16px;
  position: relative;
  margin-bottom: 18px;
}

.structure__content-title-box {
  margin-left: 20px;
}

.structure__content-title {
  font-size: 24px;
  color: #fff;
  line-height: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.structure__mission-length, .structure__time {
  font-size: 16px;
  color: rgba(255,255,255, 0.5);
  line-height: 16px;
  font-weight: 600;
}

.structure__slide-btn {
  background-color: transparent;
  border: 0;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.active {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  &:active, &:focus {
    outline: none;
  }

  img {
    width: 44px;
    height: 44px;
    object-fit: cover;
  }
}

.structure__slide-inner-wrap {
  position: relative;
  top: 11px;
  left: 0;
  right: 0;
  background-color: #272727;
  border-radius: 0 0 16px 16px;
  transition: all .3s ease-in-out;
  overflow: overlay;
  overflow-y: auto;
  margin-left: -10px;
  margin-right: -10px;
  max-height: 0;

  &.show {
    height: 100%;
    max-height: 634px;
    transition-property: all;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #8e8e8e;
    width: 50px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.structure__slide-inner-item {
  border-top: 1px solid  #383838;
  padding: 20px 30px;
}

.structure__mission-label {
  border-radius: 50px;
  background-color: #3a3b40;
  display: block;
  padding: 5px 10px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #aeaeae;
  margin-bottom: 13px;
  width: fit-content;
}

.structure__slide-inner-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.structure__mission-name {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
  display: block;
  margin: 0 0 10px;
}

.structure__mission-explain {
  font-size: 14px;
  line-height: 21px;
  color: #aeaeae;
  font-weight: 500;
  margin: 0;
  white-space: pre-wrap;
}

.structure__notice-box {
  display: flex;
  align-items: center;
  margin-top: 13px;

  img {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
}

.structure__notice-text {
  color: #ffa944;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  display: block;
  margin-left: 5px;
}

.structure__trial-box {
  margin-bottom: 90px;

  &:last-child {
    margin-bottom: 0;
  }
}