.Page--MyAPK {
  // MyAPK properties
  --headerHeight: 335px;

  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #282c36;

  /** header section */
  .myapk_header {
    // position: fixed;
    background-color: #202531;
    width: 100%;
    // height: var(--headerHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 100;

    .myapk_h_inner {
      width: 1080px;
    }
    .header__row--top {
      display: flex;
      justify-content: space-between;
      margin-top: 49px;
    }
    .header__row--middle {
      width: 100%;
      min-height: 122px;
      margin: 23px 1px 30px 0;
      padding: 20px 30px 20px 30px;
      border-radius: 5px;
      background-color: #141821;
      display: flex;
    }
    .middle__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .middle__desc {
      font-size: 15px;
      white-space: pre-line;
      position: relative;
    }
    .middle__desc.emphasis {
      color: #1db6ff;
      cursor: pointer;
    }
    .middle__desc__img {
      position: relative;
      top: 2px;
      margin-left: 2px;
    }
    .middle__icon {
      margin-right: 30px;
    }

    .myapk_h_in_lw_tw-title {
      margin-right: 10px;
      font-size: 24px;
      font-weight: bold;
    }

    .myapk_header_inner_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }

    .myapk_h_in_lw_bottomWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .myapk_h_in_lw_bw-couponText {
      font-size: 15px;
      font-weight: 500;
      margin-right: 30px;
    }

    .myapk_h_in_lw_bw-couponCount {
      font-size: 18px;
      font-weight: bold;
    }

    .myapk_h_in_rw-createBtn {
      transition: all 0.2s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      height: 30px;
      padding: 6px 27px 7px 30px;
      border-radius: 15px;
      background-color: #1db6ff;

      font-size: 15px;
      font-weight: 500;
    }

    .myapk_h_in_rw_bw-historyBtn {
      transition: all 0.2s;
      cursor: pointer;
      margin-right: 20px;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: underline;
    }

    .myapk_h_in_rw_bw-payBtn {
      transition: all 0.2s;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
    }

    .myapk_h_in_rw-createBtn:hover,
    .myapk_h_in_rw_bw-historyBtn:hover,
    .myapk_h_in_rw_bw-payBtn:hover {
      opacity: 0.5;
      transform: scale(1.05);
    }
  }

  /** apklist section */
  .myapk_apklist {
    margin-top: 60px;
    margin-bottom: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;

    .myapk_al_inner {
      width: 1080px;
    }

    .myapk_apklist-count {
      margin-bottom: 48px;
      font-size: 24px;
      font-weight: 500;
    }

    .myapk_apklist_listwrap {
      display: flex;
      flex-direction: column;
    }
  }

  .notExist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .notExist__text {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #afafaf;
    white-space: pre-line;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1079px) {
  .Page--MyAPK {
    // MyAPK Mobile properies
    --headerHeight: 140px;
    --innerSidePadding: 20px;
    --fontSizeBig: calc(100vw / 20);
    --fontSizeLittleBig: 18px;
    --fontSizeDefault: calc(100vw / 30);
    --fontSizeLittleSmall: 15px;
    --fontSizeSmall: calc(100vw / 40);

    /** header section */
    .myapk_header {
      height: auto;
      padding: 25px 0;
      .myapk_h_inner {
        padding: 0 var(--innerSidePadding);
      }

      .myapk_h_in_lw_tw-title {
        font-size: var(--fontSizeLittleBig);
      }

      .myapk_h_in_lw_bw-couponText {
        font-size: var(--fontSizeLittleSmall);
        margin-right: 10px;
      }

      .myapk_h_in_lw_bw-couponCount {
        font-size: var(--fontSizeLittleSmall);
      }

      .myapk_h_in_rw-createBtn {
        width: 112px;
        height: 30px;
        padding: 0;
        padding-bottom: 3px;
        border-radius: 15px;
        background-color: #1db6ff;
        font-size: var(--fontSizeLittleSmall);
      }

      .myapk_h_in_rw_bw-historyBtn {
        margin-right: 10px;
        font-size: var(--fontSizeLittleSmall);
      }

      .myapk_h_in_rw_bw-payBtn {
        font-size: var(--fontSizeLittleSmall);
      }

      .myapk_h_in_rw-createBtn:hover,
      .myapk_h_in_rw_bw-historyBtn:hover,
      .myapk_h_in_rw_bw-payBtn:hover {
        opacity: 0.5;
        transform: scale(1.05);
      }
      .header__row--top {
        margin-top: 0;
      }
      .header__row--middle {
        position: relative;
      }
      .middle__icon {
        position: absolute;
        top: 24px;
        left: 16px;
      }
      .middle__text {
        position: relative;
        left: 80px;
        width: calc(100% - 70px);
      }
      .middle__title {
        font-size: 15px;
      }
      .middle__desc {
        font-size: 12px;
      }
      .myapk_header_inner_bottom {
        margin-bottom: 0;
      }
    }

    /** apklist section */
    .myapk_apklist {
      margin-bottom: 20px;
      width: 100%;
      margin-top: 48px;
      .myapk_al_inner {
        width: 100%;
        padding: 0 var(--innerSidePadding);
      }

      .myapk_apklist-count {
        margin-bottom: 20px;
      }
    }
  }
}
