.Page--OCPEventSignUp {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .OCPEventSignUp_Inner {
    position: relative;
    width: 1080px;
    img {
      width: 100%;
    }
  }
  .OCPEventSignUp-btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 27%;
    width: 46%;
    height: 5.3%;
  }
  .singUpImg {
    display: block;
    background: #ffffff;
  }
  @media screen and (max-width: 1079px) {
    display: block;
    .OCPEventSignUp_Inner {
      width: 100%;
      height: auto;
    }
  }
}
